@import "../../reset.scss";
@import "../header/header.scss";

html, body{
  width: 100%;
  height: 3400px;
  position: relative;
  letter-spacing: -0.7px;
}

#header{
  width: 100%;
  height: 60px;
  z-index: 1;
}

.bgFilter {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.1);
  display: none;
  &.active {
    display: block;
  }
}

.main-sideMenu-container {
  height: 100%;
  z-index: 10000;
  position: fixed;
  left: -100%;
  background: map-get($map: $color, $key: main-color);
  width: 216px;
  transition: all 0.6s;
  .sideMenu-header {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid map-get($map: $color, $key: main-border-color);
    .sideMenu-login {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 500;
      cursor: pointer;
    }
    .fa-x {
      cursor: pointer;
    }
  }
  .main-sideMenu {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    .sideMenu-category {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-bottom: 1px solid map-get($map: $color, $key: main-border-color);
      .category-title {
        padding: 10px;
        font-weight: bold;
      }
      .categories-large {
        li {
          width: 100%;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            background: linear-gradient(
              90deg,
              rgba(255, 216, 20, 0.7) 0%,
              #ffd814 4%,
              #ff9900 93.5%,
              rgba(255, 153, 0, 0.7) 99.5%
            );
          }
          &:hover span,
          &:hover i {
            color: map-get($map: $color, $key: main-color);
          }
          span {
            display: flex;
            gap: 4px;
            align-items: center;
            &.material-symbols-outlined {
              font-size: 12px;
            }
          }
        }
      }
    }
    .sideMenu-misc {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-bottom: 1px solid map-get($map: $color, $key: main-border-color);
      .misc-title {
        padding: 10px;
        font-weight: bold;
      }
      .misc-list {
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            background: #fafafa;
            color: map-get($map: $color, $key: main-amazon-color);
          }
        }
      }
    }
    .sideMenu-settings {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .settings-title {
        padding: 10px;
        font-weight: bold;
      }
      .settings-list {
        li {
          padding: 10px;
          font-size: 14px;
          &.darkmode {
            display: none;
          }
          a {
            display: flex;
            align-items: center;
            gap: 4px;
            .material-symbols-outlined {
              font-size: 14px;
            }
          }
          &:hover {
            background: #fafafa;
          }
          &:hover:not(.material-symbols-outlined) {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.active {
    left: 0;
  }
}

#container {
  width: 100%;
  height: 100%;
  // position: absolute;
  // top: 1300px;
  top: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #navMenu {
    .topMenu {
      width: 500px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      text-align: center;

        a {
          width: 100px;
          height: 100px;
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          text-align: center;
          border: 1px solid map-get($map: $color, $key: main-amazon-color);
          background: map-get($map: $color, $key: main-color);
          border-radius: 50%;
          color: #ff9900;
          transition: all 0.2s;
          &:hover {
            background: #ff9900;
            color: #fff;
          }
        }
        }
      }

  #top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 20px;
    margin: 50px 0;
    gap: 20px;
    #logo {
      img {
        width: 120px;
        height: 70px;
      }
    }
    h2 {
      font-size: 40px;
      letter-spacing: -1.6px;
      span {
        color: #ff9900;
      }
    }
    #top-mobile {
      display: none;
    }
  }

  #mobile-boon {
    display: none;
  }

  #boon {
    margin: 50px 0;
    .mem-boon {
      width: 1200px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: 1px solid #f00;
      margin-bottom: 30px;
      h2 {
        font-size: 20px;
        font-weight: 500;
        padding: 13px 30px;
        margin-bottom: 15px;
        color: map-get($map: $color, $key: main-color);
        background: map-get($map: $color, $key: main-amazon-color);
        border-radius: 50px;
      }
      .boonZip {
        display: flex;
        justify-content: space-between;
        // flex-direction: column;
        gap: 13px;
        // border: 1px solid #000;
        // .boon1 {
        //   padding: 10px;
        //   margin-bottom: 10px;
        //   gap: 10px;
        //   border: 1px solid yellowgreen;
        // }
        .boon {
          display: flex;
          // border: 1px solid #00f;
          gap: 20px;
          margin: 15px;
          .boonImg {
            width: 90px;
            height: 90px;
            background: #f8f8f8;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 50px;
            color: #ff9900;
            // border: 1px solid #f00;
          }
          .boon-desc {
            display: flex;
            align-items: center;
            h4 {
              font-weight: 500;
              font-size: 18px;
              margin-bottom: 5px;
            }
            li {
              font-weight: 300;
              font-size: 13px;
            }
          }
        }
      }
    }
    .accordion {
      // width: calc(100% - 500px);
      width: 650px;
      position: relative;
      margin: 0 auto;
      display: block;
      justify-content: center;
      align-items: center;
      // border: 1px solid #f00;
      h3 {
        font-size: 25px;
        font-weight: 500;
        color: map-get($map: $color, $key: main-amazon-color);
        padding: 10px;
      }
      .title {
        width: 100%;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 8px;
        padding: 10px;
        position: relative;
        cursor: pointer;
        transition: all 0.3s;
        &::after {
          content: "\2b";
          font-family: "fontawesome";
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.2s;
        }
        &.active {
          // background: map-get($map: $color, $key: main-amazon-color);
          color: #ff9900;
          &::after {
            content: "\2b";
            font-family: "fontawesome";
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
      .content {
        display: none;
        font-weight: 300;
        font-size: 1rem;
        text-align: left;
        margin-bottom: 16px;
        padding: 10px;
        span {
          font-weight: 500;
          color: #ff9900;
          &:hover {
            text-decoration: underline;
          }
          &:nth-child(2) {
            color: #000000;
          }
        }
      }
    }
  }

  #rate-mobile {
    display: none;
  }

  #rate-plan {
    margin: 50px 0;
    h2 {
      display: flex;
      margin: 0 auto;
      text-align: center;
      width: 200px;
      height: 58px;
      font-size: 20px;
      font-weight: 500;
      padding: 13px 30px;
      margin-bottom: 15px;
      border: none;
      color: map-get($map: $color, $key: main-color);
      background: map-get($map: $color, $key: main-amazon-color);
      border-radius: 50px;
    }
    .plans {
      width: 900px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 20px;
      .plan {
        width: 180px;
        height: 190px;
        border: 0.5px solid #ccc;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        cursor: pointer;
        transition: all 0.3s;
        i {
          width: 90px;
          height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 40px;
          color: map-get($map: $color, $key: dark-placeholder-color);
          background: map-get($map: $color, $key: searchBar-bg-color);
          border-radius: 50%;
          margin: 15px;
        }
        .planDesc {
          p {
            font-size: 15px;
            margin: 10px;
            font-weight: 300;
            color: map-get($map: $color, $key: dark-placeholder-color);
            span {
              font-size: 18px;
              font-weight: 500;
              margin-right: 3px;
            }
          }
        }
        &:hover {
          i {
            color: map-get($map: $color, $key: main-amazon-color);
          }
          box-shadow: 3px 3px 15px map-get($map: $color, $key: main-amazon-color);
          span {
            font-weight: 500;
            color: map-get($map: $color, $key: main-amazon-color);
          }
          border: 0.5px solid transparent;
        }
      }
    }
    input[type="submit"] {
      display: flex;
      margin: 0 auto;
      margin-bottom: 50px;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      padding: 15px;
      border: 1px solid map-get($map: $color, $key: main-amazon-color);
      background: map-get($map: $color, $key: main-color);
      color: map-get($map: $color, $key: main-amazon-color);
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        border: 1px solid transparent;
        background: map-get($map: $color, $key: main-amazon-color);
        color: map-get($map: $color, $key: main-color);
      }
    }
  }

  #pay-top {
    width: 950px;
    height: 100px;
    background: map-get($map: $color, $key: main-amazon-color);
    color: map-get($map: $color, $key: main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 15px;
    .pay-top1 {
      h2 {
        font-size: 20px;
        font-weight: 300;
        span {
        font-size: 25px;
        font-weight: 500;
        }
      }
      p {
        font-weight: 300;
        font-size: 13px;
      }
    }
    .pay-top2 {
      font-weight: 300;
      font-size: 15px;
      a {
        padding: 15px;
        gap: 10px;
        transition: all 0.3s;
        i {
          margin-left: 8px;
        }
        &:hover {
          font-size: 15px;
          font-weight: 600;
          margin-left: 10px;
          text-decoration: underline;
        }
      }
    }
  }

  #qnaMobile {
    display: none;
  }

  #memBoon {
    padding: 50px 0;
    h3 {
      letter-spacing: -1px;
      font-size: 25px;
      font-weight: 500;
      padding-bottom: 10px;
      span {
        color: map-get($map: $color, $key: main-amazon-color);
      }
    }
    .boonList {
      margin: 10px 0;
      ul {
        margin: 10px 0;
        li {
          font-size: 16px;
          font-weight: 200;
          padding-bottom: 10px;
          .fa-solid {
            margin-right: 10px;
            color: map-get($map: $color, $key: main-amazon-color);
          }
          span {
            font-weight: 400;
            margin-right: 10px;
          }
        }
      }
    }
  }

  #payment {
    h2 {
      font-weight: 500;
      font-size: 25px;
      padding: 15px 0;
      text-align: center;
    }
    .pay-wrapper {
      width: 860px;
      display: flex;
      justify-content: space-between;
      #credit {
        width: 480px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        border: 0.5px solid #ccc;
        border-radius: 10px;
        transition: all 0.3s;
        cursor: pointer;
        h2 {
          letter-spacing: -1px;
          font-size: 25px;
          font-weight: 500;
          padding-bottom: 10px;
        }
        .creditTitle {
          display: flex;
          align-items: center;
          font-size: 18px;
          padding-bottom: 10px;
          color: map-get($map: $color, $key: main-amazon-color);
          .fa-solid {
            padding-right: 5px;
          }
        }
        .cardForm {
          display: block;
          .cardForm1 {
            display: flex;
            justify-content: space-between;
            .card1 {
              padding-bottom: 10px;
              .cardName {
                display: block;
                p {
                  margin-bottom: 5px;
                }
              }
              display: flex;
              input[type="text"] {
                width: 110px;
                height: 30px;
                border: 0.5px solid #ccc;
                border-radius: 8px;
                padding: 10px;
                &:focus {
                  outline: none;
                }
              }
            }
            .card2 {
              padding-bottom: 10px;
              .cardName {
                display: block;
                padding: 5px;
                p {
                  font-weight: 600;
                  margin-bottom: 5px;
                }
              }
              display: flex;
              input[type="text"] {
                width: 70px;
                height: 30px;
                border: 0.5px solid #ccc;
                border-radius: 8px;
                padding: 10px;
                &:focus {
                  outline: none;
                }
              }
            }
          }
          .cardForm2 {
            display: flex;
            flex-direction: row;
            gap: 30px;
            .card3 {
              padding-bottom: 10px;
              .cardName {
                display: block;
                padding: 5px;
                p {
                  margin-bottom: 5px;
                }
              }
              display: flex;
              input[type="password"] {
                width: 60px;
                height: 30px;
                border: 0.5px solid #f00;
                border-radius: 8px;
                padding: 10px;
                &:focus {
                  outline: none;
                }
              }
            }
            .card4 {
              padding-bottom: 10px;
              .cardName {
                display: block;
                padding: 5px;
                p {
                  margin-bottom: 5px;
                }
              }
              display: flex;
              input[type="text"] {
                width: 110px;
                height: 30px;
                border: 0.5px solid #ccc;
                border-radius: 8px;
                padding: 10px;
                &:focus {
                  outline: none;
                }
              }
            }
            input[type="submit"] {
              width: 140px;
              height: 30px;
              margin-top: 23px;
              margin-left: 15px;
              text-align: center;
              font-weight: 400;
              border: 0.5px solid transparent;
              border-radius: 8px;
              background: map-get($map: $color, $key: main-amazon-color);
              color: map-get($map: $color, $key: main-color);
              cursor: pointer;
            }
          }
        } 
        &:hover {
          border: 0.5px solid #ff9900;
          box-shadow: 3px 3px 10px rgba($color: #ff9900, $alpha: 0.5);
        }
      }
    
      #giftCard {
        width: 370px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        border: 0.5px solid #ccc;
        border-radius: 10px;
        transition: all 0.3s;
        cursor: pointer;
        .giftCardTitle {
          display: flex;
          align-items: center;
          font-size: 18px;
          padding-bottom: 10px;
          color: map-get($map: $color, $key: main-amazon-color);
          .fa-solid {
            padding-right: 5px;
          }
        }
        .gift1 {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          .giftName {
            display: block;
            p {
              margin-bottom: 5px;
            }
          }
          display: flex;
          input[type="text"] {
            width: 300px;
            height: 30px;
            border: 0.5px solid #ccc;
            border-radius: 8px;
            padding: 10px;
                &:focus {
                  outline: none;
                }
          }
        }
        input[type="submit"] {
          width: 140px;
          height: 30px;
          margin: 0 auto;
          margin-top: 10px;
          text-align: center;
          font-weight: 400;
          border: 0.5px solid transparent;
          border-radius: 8px;
          background: map-get($map: $color, $key: main-amazon-color);
          color: map-get($map: $color, $key: main-color);
          cursor: pointer;
        }
        &:hover {
          border: 0.5px solid #ff9900;
          box-shadow: 3px 3px 10px rgba($color: #ff9900, $alpha: 0.5);
        }
      }
    }
  }

  #address {
    width: 860px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 80px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    h2 {
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      padding: 15px 0;
    }
    .addDetail {
      display: flex;
      flex-direction: column;
      width: 500px;
      .bl_stack_top {
        display: flex;
        gap: 40px;
        align-items: center;
        .bl_stack {
          display: flex;
          flex-direction: column;
          font-size: 15px;
          gap: 5px;
          &.form{
            width: 245px;
          }
          .el_ttl {
            font-size: 18px;
            font-weight: 500;
            color: map-get($map: $color, $key: main-amazon-color);
            &.code1 {
              color: map-get($map: $color, $key: main-dark-color);
              font-weight: 400;
              font-size: 17px;
            }
            &.adr1 {
              color: map-get($map: $color, $key: main-dark-color);
              font-weight: 400;
              font-size: 17px;
            }
            &.adrDetail1 {
              color: map-get($map: $color, $key: main-dark-color);
              font-weight: 400;
              font-size: 17px;
            }
          }
          .el_result {
            height: 20px;
            font-weight: 300;
            padding-bottom: 10px;
            font-size: 15px;
          }
          .el_btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            outline: unset;
            border: unset;
            padding: 10px;
            background: map-get($map: $color, $key: main-amazon-color);
            border-radius: 8px;
            color: #ffffff;
            cursor: pointer;
    
            font-family: Noto Sans KR;
            letter-spacing: -0.04em;
            text-align: left;
    
            width: fit-content;
            height: 37px;
            font-family: Noto Sans KR;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: -0.04em;
            text-align: left;
    
            word-break: keep-all;
            &:focus {
              box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.2) inset;
            }
          }
          .el_btn--outline {
            background: unset;
            border: 1px solid #333333;
            color: #333333;
            font-family: Noto Sans KR;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: -0.04em;
            text-align: left;
            background-color: #ffffff;
          }
          .el_input {
            padding: 10px;
            /* max-width: 320px; */
            // width: 200px;
            height: 37px;
            border: 1px solid #d4d4d4;
            border-radius: 5px;
            color: #333333;
            background-color: unset;
    
            font-family: Noto Sans KR;
            font-size: 12px;
            font-weight: 300;
            line-height: 17px;
            letter-spacing: -0.04em;
            text-align: left;
            &:focus {
              outline: none;
            }
            &:first-child{
              width: 140px;
            }
          }
          .el_input::placeholder {
            color: #d4d4d4;
          }
          .el_input:disabled {
            background-color: #f0f0f0;
          }
        }
        .bl_stack--row {
          flex-direction: row;
        }
        .form {
          margin-bottom: 30px;
          height: fit-content;
        }
        .hp_shrink-0 {
          flex-shrink: 0;
        }
      }
      .bl_stack_btm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .bl_stack2 {
          .name {
            margin: 20px 0;
            p {
              font-size: 18px;
              font-weight: 500;
              color: map-get($map: $color, $key: main-amazon-color);
            }
            input[type="text"] {
            width: 245px;
            height: 37px;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            &:focus {
              outline: none;
            }
            }
          }
          .number {
            margin: 20px 0;
            p {
              font-size: 18px;
              font-weight: 500;
              color: map-get($map: $color, $key: main-amazon-color);
            }
            input[type="text"] {
            width: 245px;
            height: 37px;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            &:focus {
              outline: none;
            }
            }
            span {
              display: block;
              font-size: 11px;
              font-weight: 200;
              font-style: italic;
            }
          }
          .el_btn2 {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            outline: unset;
            border: unset;
            padding: 10px;
            background: map-get($map: $color, $key: main-amazon-color);
            border-radius: 8px;
            color: #ffffff;
            cursor: pointer;
    
            font-family: Noto Sans KR;
            letter-spacing: -0.04em;
            text-align: left;
    
            width: fit-content;
            height: 37px;
            font-family: Noto Sans KR;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: -0.04em;
            text-align: left;
    
            word-break: keep-all;
            &:focus {
              box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.2) inset;
            }
          }
    
        }
        .nameNum {
          display: flex;
          flex-direction: column;
          // left: 20px;
          gap: 5px;
          margin-bottom: 35px;
          width: 220px;
          .el_ttl2 {
            font-size: 18px;
            font-weight: 500;
            color: map-get($map: $color, $key: main-amazon-color);
            &.errorname1 {
              color: map-get($map: $color, $key: main-dark-color);
              font-weight: 400;
              font-size: 17px;
            }
            &.errornum1 {
              color: map-get($map: $color, $key: main-dark-color);
              font-weight: 400;
              font-size: 17px;
            }
          }
          .el_result2 {
            height: 20px;
            font-weight: 300;
            padding-bottom: 10px;
            font-size: 15px;
            &.errornum{
              white-space: nowrap;
            }
          }
          .el_input {
            padding: 10px;
            /* max-width: 320px; */
            width: 200px;
            height: 37px;
            border: 1px solid #d4d4d4;
            border-radius: 5px;
            color: #333333;
            background-color: unset;
    
            font-family: Noto Sans KR;
            font-size: 12px;
            font-weight: 300;
            line-height: 17px;
            letter-spacing: -0.04em;
            text-align: left;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  
    input[type="submit"] {
      width: 80px;
      height: 30px;
      font-size: 11px;
      border: 1px solid map-get($map: $color, $key: main-amazon-color);
      border-radius: 8px;
      background: map-get($map: $color, $key: main-color);
      color: map-get($map: $color, $key: main-amazon-color);
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        border: 1px solid map-get($map: $color, $key: main-color);
        background: map-get($map: $color, $key: main-amazon-color);
      color: map-get($map: $color, $key: main-color);
      }
    }
  }
}

#footer{
  position: absolute;
  bottom: -480px;
  width: 100%;
  height: 360px;
}

// mobile
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 280px;
    overflow-x: hidden;
    // margin: 0 auto;
    // overflow: hidden;
  }
  header, iframe {
    display: none;
  }

  #container {
    letter-spacing: -1.5px;
    #top {
      #logo {
        img {
          width: 150px;
          height: 90px;
        }
      }
      h2 {
        display: none;
      }
      #top-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .pmobile {
          display: block;
          font-size: 25px;
          font-weight: 400;
          span {
            color: #ff9900;
            font-weight: 500;
          }
        }
        .pmobile2 {
          font-weight: 300;
          font-size: 15px;
          padding: 20px 0;
        }
        input[type="submit"] {
          width: 400px;
          height: 60px;
          font-size: 18px;
          text-align: center;
          border: none;
          border-radius: 13px;
          background: #ff9900;
          color: #fff;
          cursor: pointer;
        }
        .pmobile3 {
          font-weight: 300;
          font-size: 13px;
          color: #ccc;
        } 
        .mobile-plan {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 20px;
          // border: 1px solid #f00;
          // .pmobile4 {
          // }
          .mobile-plan2 {
            display: flex;
            flex-direction: column;
            font-weight: 300;
          }
        }
      }
    }

    #navMenu {
      display: none;
    }

    #mobile-boon {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 55px;
      .mobile-boonTitle {
        font-size: 23px;
      }
      .mobile-boon1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
          font-size: 48px;
          color: #ff9900;
        }
        span {
          color: #ff9900;
        }
        p {
          font-size: 13px;
          font-weight: 300;
          text-align: center;
        }
      }
      .mobile-boon2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
          font-size: 48px;
          color: #ff9900;
        }
        span {
          color: #ff9900;
        }
        p {
          font-size: 13px;
          font-weight: 300;
          text-align: center;
        }
      }
      .mobile-boon3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
          font-size: 48px;
          color: #ff9900;
        }
        span {
          color: #ff9900;
        }
        p {
          font-size: 13px;
          font-weight: 300;
          text-align: center;
        }
      }
    }

    #boon {
      display: none;
    }

    #rate-mobile {
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-size: 23px;
      }
      .rate-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .rate-left {
          .rate1 {
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            border-radius: 8px;
            background: #f8f8f8;
            i {
              font-size: 45px;
              color: map-get($map: $color, $key: main-amazon-color);
              margin-bottom: 5px;
            }
            span {
              font-size: 16px;
              color: map-get($map: $color, $key: main-dark-color);
            }
            p {
              font-size: 12px;
              font-weight: 300;
              margin-top: 5px;
              letter-spacing: -0.5px;
            }
          }
          .rate2 {
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background: #f8f8f8;
            i {
              font-size: 45px;
              color: map-get($map: $color, $key: main-amazon-color);
              margin-bottom: 5px;
              margin-top: 20px;
            }
            span {
              font-size: 16px;
              color: map-get($map: $color, $key: main-dark-color);
            }
            p {
              font-size: 12px;
              font-weight: 300;
              // margin-top: 5px;
              letter-spacing: -0.5px;
            }
          }
          .disc2 {
            position: relative;
            top: 20px;
            border: none;
            border-radius: 15px;
            padding: 5px 10px;
            background: map-get($map: $color, $key: light-placeholder-color);
            color: #fff;
            font-size: 10px;
          }
        }
        .rate-right {
          padding-top: 10px;
          .rate3 {
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            border-radius: 8px;
            background: #f8f8f8;
            i {
              font-size: 45px;
              color: map-get($map: $color, $key: main-amazon-color);
              margin-bottom: 5px;
            }
            span {
              font-size: 16px;
              color: map-get($map: $color, $key: main-dark-color);
            }
            p {
              font-size: 12px;
              font-weight: 300;
              margin-top: 5px;
              letter-spacing: -0.5px;
            }
          }
          .rate4 {
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            border-radius: 8px;
            background: #f8f8f8;
            i {
              font-size: 45px;
              color: map-get($map: $color, $key: main-amazon-color);
              margin-bottom: 5px;
              margin-top: 20px;
            }
            span {
              font-size: 16px;
              color: map-get($map: $color, $key: main-dark-color);
            }
            p {
              font-size: 12px;
              font-weight: 300;
              // margin-top: 5px;
              letter-spacing: -0.5px;
            }
          }
          .disc4 {
            position: relative;
            top: 20px;
            border: none;
            border-radius: 15px;
            padding: 5px 10px;
            background: map-get($map: $color, $key: light-placeholder-color);
            color: #fff;
            font-size: 10px;
          }
        }
      }
      input[type="submit"] {
        width: 300px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: none;
        border-radius: 8px;
        margin-top: 30px;
        background: map-get($map: $color, $key: main-amazon-color);
        color: map-get($map: $color, $key: main-color);
      }
      .rateSubmit {
        font-size: 11px;
        letter-spacing: -1px;
        color: #ccc;
      }
    }

    #rate-plan {
      display: none;
    }

    #pay-top {
      display: none;
    }

    #qnaMobile {
      width: 470px;
      display: block;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 80px;
      gap: 20px;
      letter-spacing: -1px;
      h2 {
        font-size: 20px;
        letter-spacing: -1.3px;
        color: #ff9900;
      }
      .qna {
        width: 100%;
        padding: 10px;
        .Qmobile {
          font-size: 15px;
          font-weight: 400;
          // color: #ff9900;
        }
        .Amobile {
          font-size: 12px;
          font-weight: 300;
          span {
            font-weight: 400;
            text-decoration: underline;
          }
        }
      }
    }

    #memBoon {
      display: none;
    }

    #payment {
      margin-top: 40px;
      margin-bottom: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // pointer-events: none;
      .pay-wrapper {
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        #credit {
          .creditTitle {
            margin: 0 auto;
            padding: 20px;
          }
          .cardForm {
            margin: 0 auto;
            .cardForm1 {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: left;
            }
            .cardForm2 {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: left;
              gap: 0;
              input[type="submit"] {
                width: 170px;
                height: 40px;
                font-size: 15px;
                margin: 0 auto;
                margin-top: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
        #giftCard {
          width: 480px;
          .giftCardTitle {
            margin: 0 auto;
          }
          input[type="submit"] {
            width: 170px;
            height: 40px;
            font-size: 15px;
            margin: 0 auto;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    #address {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      .addDetail {
        .bl_stack_top {
          width: 320px;
          display: block;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          // padding: 20px;
          // border: 1px solid #f00;
          input[type="text"] {
            width: 180px;
          }
        }
        .bl_stack_btm {
          width: 320px;
          display: block;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          // padding: 20px;
          // border: 1px solid #f00;
          input[type="text"] {
            width: 180px;
          }
          .bl_stack2 {
            margin: 40px 0;
            .name {
              margin: 0;
            }
            .number {
              margin: 10px 0;
            }
          }
        }
      }
      input[type="submit"] {
        width: 80px;
        height: 30px;
        align-items: center;
        font-size: 11px;
        padding: 10px;
        // bottom: 20px;
        border: 1px solid map-get($map: $color, $key: main-amazon-color);
        border-radius: 8px;
        background: map-get($map: $color, $key: main-color);
        color: map-get($map: $color, $key: main-amazon-color);
        transition: all 0.3s;
        cursor: pointer;
      }
    }
  }
}