@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
ol {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
ol {
  list-style: none;
}

body {
  font-family: "Noto Sans KR";
}

.inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
}
header .gnb-content {
  width: 100%;
  overflow: hidden;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .gnb-content .gnb {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
header .gnb-content .gnb .logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .gnb-content .gnb .logo_container .sideMenu-trigger-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
header .gnb-content .gnb .logo_container .sideMenu-trigger-btn.active {
  display: block;
}
header .gnb-content .gnb .logo_container img {
  width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .gnb-content .gnb .searchBar {
  border: 2px solid #ccc;
  border-radius: 40px;
}
header .gnb-content .gnb .searchBar form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}
header .gnb-content .gnb .searchBar form select {
  outline: none;
  border: none;
  height: 18px;
  margin-right: 4px;
  color: #aaa;
}
header .gnb-content .gnb .searchBar form select option {
  color: #000;
}
header .gnb-content .gnb .searchBar form .bar {
  width: 12px;
  transform: rotate(90deg);
}
header .gnb-content .gnb .searchBar form .inputBox {
  display: flex;
  align-items: center;
}
header .gnb-content .gnb .searchBar form .inputBox .material-symbols-outlined {
  color: #aaa;
}
header .gnb-content .gnb .searchBar form .inputBox input[type=search] {
  padding-left: 4px;
  padding-right: 10px;
  width: 420px;
  border: none;
}
header .gnb-content .gnb .searchBar form .inputBox input[type=search]:focus {
  outline: none;
}
header .gnb-content .gnb .searchBar form .inputBox input[type=search]::-moz-placeholder {
  color: #aaa;
}
header .gnb-content .gnb .searchBar form .inputBox input[type=search]::placeholder {
  color: #aaa;
}
header .gnb-content .gnb .searchBar form .inputBox .fa-magnifying-glass {
  color: #ff9900;
}
header .gnb-content .gnb .hottest-items {
  display: flex;
  justify-content: space-between;
  align-self: start;
  cursor: pointer;
}
header .gnb-content .gnb .hottest-items.active {
  display: none;
}
header .gnb-content .gnb .hottest-items .ranking-container {
  width: 128px;
  height: 100%;
  position: relative;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking {
  position: relative;
  height: 100%;
  bottom: 0;
  opacity: 1;
  transition: all 0.6s;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking.active {
  opacity: 0;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking p {
  font-weight: 500;
  width: 128px;
  padding: 16px 0;
  position: relative;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking p span {
  color: #ff9900;
}
header .gnb-content .gnb .hottest-items .fa-chevron-down {
  align-self: flex-start;
  padding: 20px;
  font-size: 14px;
}
header .gnb-content .icon-menu .items {
  align-items: center;
  display: flex;
  gap: 26px;
}
header .gnb-content .icon-menu .items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transition: all 0.3s;
  cursor: pointer;
}
header .gnb-content .icon-menu .items .item:hover {
  color: #ff9900;
}
header .gnb-content .icon-menu .items .item .fa-regular {
  font-size: 26px;
}
header .gnb-content .icon-menu .items .item .material-symbols-outlined {
  font-size: 26px;
}
header .gnb-content .icon-menu .items .item span {
  font-size: 10px;
}
header .banner {
  margin-top: 10px;
}
header .banner .lnb-content {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  transition: all 0.3s;
}
header .banner .lnb-content.active {
  height: 0;
  overflow: hidden;
}
header .banner .lnb-content .lnb-main {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
header .banner .lnb-content .lnb-main .main-category-menu {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 190px;
  padding: 10px;
  background: #ff9900;
  color: #fff;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger {
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 12px;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger span {
  position: absolute;
  background: #fff;
  width: 18px;
  height: 1px;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger span:first-child {
  top: 0;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger span:nth-child(2) {
  top: 50%;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger span:last-child {
  top: 100%;
}
header .banner .lnb-content .lnb-main .lnb {
  display: flex;
  gap: 20px;
  padding: 10px;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy {
  cursor: pointer;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy .fa-circle-question {
  font-size: 14px;
}
header .banner .lnb-content .lnb-main .lnb a {
  transition: all 0.3s;
}
header .banner .lnb-content .lnb-main .lnb a:hover {
  color: #ff9900;
}
header .banner .lnb-content .lnb-user-menu {
  display: flex;
  gap: 4px;
}
header .banner .lnb-content .lnb-user-menu li {
  padding-right: 6px;
  border-right: 1px solid #aaa;
}
header .banner .lnb-content .lnb-user-menu li a {
  color: #aaa;
}
header .banner .lnb-content .lnb-user-menu li a:hover {
  text-decoration: underline;
}
header .banner .lnb-content .lnb-user-menu li:last-child {
  border: none;
}

.Top {
  position: fixed;
  right: 50px;
  bottom: 100px;
  width: 56px;
  height: 56px;
  padding: 8px;
  background: #5c5a5a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
}
.Top .fa-chevron-up {
  font-size: 24px;
}
.Top.active {
  opacity: 1;
}

html, body {
  width: 100%;
  height: 1200px;
  position: relative;
  letter-spacing: -0.7px;
}

#header {
  width: 100%;
  height: 60px;
  z-index: 1;
}

.bgFilter {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: none;
}
.bgFilter.active {
  display: block;
}

.main-sideMenu-container {
  height: 100%;
  z-index: 10000;
  position: fixed;
  left: -100%;
  background: #fff;
  width: 216px;
  transition: all 0.6s;
}
.main-sideMenu-container .sideMenu-header {
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.main-sideMenu-container .sideMenu-header .sideMenu-login {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  cursor: pointer;
}
.main-sideMenu-container .sideMenu-header .fa-x {
  cursor: pointer;
}
.main-sideMenu-container .main-sideMenu {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #ccc;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .category-title {
  padding: 10px;
  font-weight: bold;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li:hover {
  background: linear-gradient(90deg, rgba(255, 216, 20, 0.7) 0%, #ffd814 4%, #ff9900 93.5%, rgba(255, 153, 0, 0.7) 99.5%);
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li:hover span, .main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li:hover i {
  color: #fff;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li span {
  display: flex;
  gap: 4px;
  align-items: center;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li span.material-symbols-outlined {
  font-size: 12px;
}
.main-sideMenu-container .main-sideMenu .sideMenu-misc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #ccc;
}
.main-sideMenu-container .main-sideMenu .sideMenu-misc .misc-title {
  padding: 10px;
  font-weight: bold;
}
.main-sideMenu-container .main-sideMenu .sideMenu-misc .misc-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}
.main-sideMenu-container .main-sideMenu .sideMenu-misc .misc-list li:hover {
  background: #fafafa;
  color: #ff9900;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-title {
  padding: 10px;
  font-weight: bold;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li {
  padding: 10px;
  font-size: 14px;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li.darkmode {
  display: none;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li a {
  display: flex;
  align-items: center;
  gap: 4px;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li a .material-symbols-outlined {
  font-size: 14px;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li:hover {
  background: #fafafa;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li:hover:not(.material-symbols-outlined) {
  text-decoration: underline;
}
.main-sideMenu-container.active {
  left: 0;
}

#container {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container #navMenu .topMenu {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#container #navMenu .topMenu a {
  width: 100px;
  height: 100px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ff9900;
  background: #fff;
  border-radius: 50%;
  color: #ff9900;
  transition: all 0.2s;
}
#container #navMenu .topMenu a:hover {
  background: #ff9900;
  color: #fff;
}
#container #top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-left: 20px;
  margin: 50px 0;
  gap: 20px;
}
#container #top #logo img {
  width: 120px;
  height: 70px;
}
#container #top h2 {
  font-size: 40px;
  letter-spacing: -1.6px;
}
#container #top h2 span {
  color: #ff9900;
}
#container #top #top-mobile {
  display: none;
}
#container #mobile-boon {
  display: none;
}
#container #boon {
  margin: 50px 0;
}
#container #boon .mem-boon {
  width: 1200px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
#container #boon .mem-boon h2 {
  font-size: 20px;
  font-weight: 500;
  padding: 13px 30px;
  margin-bottom: 15px;
  color: #fff;
  background: #ff9900;
  border-radius: 50px;
}
#container #boon .mem-boon .boonZip {
  display: flex;
  justify-content: space-between;
  gap: 13px;
}
#container #boon .mem-boon .boonZip .boon {
  display: flex;
  gap: 20px;
  margin: 15px;
}
#container #boon .mem-boon .boonZip .boon .boonImg {
  width: 90px;
  height: 90px;
  background: #f8f8f8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: #ff9900;
}
#container #boon .mem-boon .boonZip .boon .boon-desc {
  display: flex;
  align-items: center;
}
#container #boon .mem-boon .boonZip .boon .boon-desc h4 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}
#container #boon .mem-boon .boonZip .boon .boon-desc li {
  font-weight: 300;
  font-size: 13px;
}
#container #boon .accordion {
  width: 650px;
  position: relative;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
}
#container #boon .accordion h3 {
  font-size: 25px;
  font-weight: 500;
  color: #ff9900;
  padding: 10px;
}
#container #boon .accordion .title {
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 8px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
#container #boon .accordion .title::after {
  content: "+";
  font-family: "fontawesome";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}
#container #boon .accordion .title.active {
  color: #ff9900;
}
#container #boon .accordion .title.active::after {
  content: "+";
  font-family: "fontawesome";
  transform: translateY(-50%) rotate(45deg);
}
#container #boon .accordion .content {
  display: none;
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 16px;
  padding: 10px;
}
#container #boon .accordion .content span {
  font-weight: 500;
  color: #ff9900;
}
#container #boon .accordion .content span:nth-child(2) {
  color: #000000;
}
#container #rate-mobile {
  display: none;
}
#container #rate-plan {
  margin: 50px 0;
}
#container #rate-plan h2 {
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  height: 58px;
  font-size: 20px;
  font-weight: 500;
  padding: 13px 30px;
  margin-bottom: 15px;
  border: none;
  color: #fff;
  background: #ff9900;
  border-radius: 50px;
}
#container #rate-plan .plans {
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}
#container #rate-plan .plans .plan {
  width: 180px;
  height: 190px;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
#container #rate-plan .plans .plan i {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #888;
  background: #eee;
  border-radius: 50%;
  margin: 15px;
}
#container #rate-plan .plans .plan .planDesc p {
  font-size: 15px;
  margin: 10px;
  font-weight: 300;
  color: #888;
}
#container #rate-plan .plans .plan .planDesc p span {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3px;
}
#container #rate-plan .plans .plan:hover {
  box-shadow: 3px 3px 15px #ff9900;
  border: 0.5px solid transparent;
}
#container #rate-plan .plans .plan:hover i {
  color: #ff9900;
}
#container #rate-plan .plans .plan:hover span {
  font-weight: 500;
  color: #ff9900;
}
#container #rate-plan input[type=submit] {
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 15px;
  border: 1px solid #ff9900;
  background: #fff;
  color: #ff9900;
  transition: all 0.3s;
  cursor: pointer;
}
#container #rate-plan input[type=submit]:hover {
  border: 1px solid transparent;
  background: #ff9900;
  color: #fff;
}
#container #pay-top {
  width: 950px;
  height: 100px;
  background: #ff9900;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 15px;
}
#container #pay-top .pay-top1 h2 {
  font-size: 20px;
  font-weight: 300;
}
#container #pay-top .pay-top1 h2 span {
  font-size: 25px;
  font-weight: 500;
}
#container #pay-top .pay-top1 p {
  font-weight: 300;
  font-size: 13px;
}
#container #pay-top .pay-top2 {
  font-weight: 300;
  font-size: 15px;
}
#container #pay-top .pay-top2 a {
  padding: 15px;
  gap: 10px;
  transition: all 0.3s;
}
#container #pay-top .pay-top2 a i {
  margin-left: 8px;
}
#container #pay-top .pay-top2 a:hover {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  text-decoration: underline;
}
#container #qnaMobile {
  display: none;
}
#container #memBoon {
  padding: 50px 0;
}
#container #memBoon h3 {
  letter-spacing: -1px;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 10px;
}
#container #memBoon h3 span {
  color: #ff9900;
}
#container #memBoon .boonList {
  margin: 10px 0;
}
#container #memBoon .boonList ul {
  margin: 10px 0;
}
#container #memBoon .boonList ul li {
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 10px;
}
#container #memBoon .boonList ul li .fa-solid {
  margin-right: 10px;
  color: #ff9900;
}
#container #memBoon .boonList ul li span {
  font-weight: 400;
  margin-right: 10px;
}
#container #payment h2 {
  font-weight: 500;
  font-size: 25px;
  padding: 15px 0;
  text-align: center;
}
#container #payment .pay-wrapper {
  width: 860px;
  display: flex;
  justify-content: space-between;
}
#container #payment .pay-wrapper #credit {
  width: 480px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
#container #payment .pay-wrapper #credit h2 {
  letter-spacing: -1px;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 10px;
}
#container #payment .pay-wrapper #credit .creditTitle {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-bottom: 10px;
  color: #ff9900;
}
#container #payment .pay-wrapper #credit .creditTitle .fa-solid {
  padding-right: 5px;
}
#container #payment .pay-wrapper #credit .cardForm {
  display: block;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm1 {
  display: flex;
  justify-content: space-between;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm1 .card1 {
  padding-bottom: 10px;
  display: flex;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm1 .card1 .cardName {
  display: block;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm1 .card1 .cardName p {
  margin-bottom: 5px;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm1 .card1 input[type=text] {
  width: 110px;
  height: 30px;
  border: 0.5px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm1 .card1 input[type=text]:focus {
  outline: none;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm1 .card2 {
  padding-bottom: 10px;
  display: flex;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm1 .card2 .cardName {
  display: block;
  padding: 5px;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm1 .card2 .cardName p {
  font-weight: 600;
  margin-bottom: 5px;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm1 .card2 input[type=text] {
  width: 70px;
  height: 30px;
  border: 0.5px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm1 .card2 input[type=text]:focus {
  outline: none;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm2 .card3 {
  padding-bottom: 10px;
  display: flex;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm2 .card3 .cardName {
  display: block;
  padding: 5px;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm2 .card3 .cardName p {
  margin-bottom: 5px;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm2 .card3 input[type=password] {
  width: 60px;
  height: 30px;
  border: 0.5px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm2 .card3 input[type=password]:focus {
  outline: none;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm2 .card4 {
  padding-bottom: 10px;
  display: flex;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm2 .card4 .cardName {
  display: block;
  padding: 5px;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm2 .card4 .cardName p {
  margin-bottom: 5px;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm2 .card4 input[type=text] {
  width: 110px;
  height: 30px;
  border: 0.5px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm2 .card4 input[type=text]:focus {
  outline: none;
}
#container #payment .pay-wrapper #credit .cardForm .cardForm2 input[type=submit] {
  width: 140px;
  height: 30px;
  margin-top: 23px;
  margin-left: 15px;
  text-align: center;
  font-weight: 400;
  border: 0.5px solid transparent;
  border-radius: 8px;
  background: #ff9900;
  color: #fff;
  cursor: pointer;
}
#container #payment .pay-wrapper #credit:hover {
  border: 0.5px solid #ff9900;
  box-shadow: 3px 3px 10px rgba(255, 153, 0, 0.5);
}
#container #payment .pay-wrapper #giftCard {
  width: 370px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
#container #payment .pay-wrapper #giftCard .giftCardTitle {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-bottom: 10px;
  color: #ff9900;
}
#container #payment .pay-wrapper #giftCard .giftCardTitle .fa-solid {
  padding-right: 5px;
}
#container #payment .pay-wrapper #giftCard .gift1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;
}
#container #payment .pay-wrapper #giftCard .gift1 .giftName {
  display: block;
}
#container #payment .pay-wrapper #giftCard .gift1 .giftName p {
  margin-bottom: 5px;
}
#container #payment .pay-wrapper #giftCard .gift1 input[type=text] {
  width: 300px;
  height: 30px;
  border: 0.5px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}
#container #payment .pay-wrapper #giftCard .gift1 input[type=text]:focus {
  outline: none;
}
#container #payment .pay-wrapper #giftCard input[type=submit] {
  width: 140px;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  border: 0.5px solid transparent;
  border-radius: 8px;
  background: #ff9900;
  color: #fff;
  cursor: pointer;
}
#container #payment .pay-wrapper #giftCard:hover {
  border: 0.5px solid #ff9900;
  box-shadow: 3px 3px 10px rgba(255, 153, 0, 0.5);
}
#container #address {
  width: 860px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 80px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
#container #address h2 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  padding: 15px 0;
}
#container #address .addDetail .el_ttl {
  font-size: 18px;
  font-weight: 500;
}
#container #address .addDetail .el_ttl:nth-child(1) {
  color: #ff9900;
}
#container #address .addDetail .el_ttl:nth-child(2) {
  font-weight: 400;
}
#container #address .addDetail .el_ttl:nth-child(3) {
  font-weight: 400;
}
#container #address .addDetail .el_ttl:nth-child(4) {
  font-weight: 400;
}
#container #address .addDetail .el_result {
  height: 20px;
  font-weight: 300;
  padding-bottom: 10px;
}
#container #address .addDetail .el_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: unset;
  border: unset;
  padding: 10px;
  background: #ff9900;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  font-family: Noto Sans KR;
  letter-spacing: -0.04em;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  height: 37px;
  font-family: Noto Sans KR;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: left;
  word-break: keep-all;
}
#container #address .addDetail .el_btn:focus {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2) inset;
}
#container #address .addDetail .el_btn--outline {
  background: unset;
  border: 1px solid #333333;
  color: #333333;
  font-family: Noto Sans KR;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: left;
  background-color: #ffffff;
}
#container #address .addDetail .el_input {
  padding: 10px;
  /* max-width: 320px; */
  width: 200px;
  height: 37px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  color: #333333;
  background-color: unset;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: left;
}
#container #address .addDetail .el_input:focus {
  outline: none;
}
#container #address .addDetail .el_input::-moz-placeholder {
  color: #d4d4d4;
}
#container #address .addDetail .el_input::placeholder {
  color: #d4d4d4;
}
#container #address .addDetail .el_input:disabled {
  background-color: #f0f0f0;
}
#container #address .addDetail .bl_stack {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 5px;
}
#container #address .addDetail .bl_stack--row {
  flex-direction: row;
}
#container #address .addDetail .form {
  margin-bottom: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
#container #address .addDetail .hp_shrink-0 {
  flex-shrink: 0;
}
#container #address .addDetail .name {
  margin: 20px 0;
}
#container #address .addDetail .name input[type=text] {
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}
#container #address .addDetail .name input[type=text]:focus {
  outline: none;
}
#container #address .addDetail .number {
  margin: 20px 0;
}
#container #address .addDetail .number input[type=text] {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}
#container #address .addDetail .number input[type=text]:focus {
  outline: none;
}
#container #address .addDetail .number span {
  display: block;
  font-size: 11px;
  font-weight: 200;
  font-style: italic;
}
#container #address input[type=submit] {
  width: 80px;
  height: 30px;
  font-size: 11px;
  border: 1px solid #ff9900;
  border-radius: 8px;
  background: #fff;
  color: #ff9900;
  transition: all 0.3s;
  cursor: pointer;
}
#container #address input[type=submit]:hover {
  border: 1px solid #fff;
  background: #ff9900;
  color: #fff;
}
#container iframe {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 360px;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header, iframe {
    display: none;
  }
  #container {
    letter-spacing: -1.5px;
  }
  #container #top #logo img {
    width: 150px;
    height: 90px;
  }
  #container #top h2 {
    display: none;
  }
  #container #top #top-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #container #top #top-mobile .pmobile {
    display: block;
    font-size: 30px;
    font-weight: 400;
  }
  #container #top #top-mobile .pmobile span {
    color: #ff9900;
    font-weight: 500;
  }
  #container #top #top-mobile .pmobile2 {
    font-weight: 300;
    font-size: 17px;
    padding: 20px 0;
  }
  #container #top #top-mobile input[type=submit] {
    width: 400px;
    height: 60px;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 13px;
    background: #ff9900;
    color: #fff;
    cursor: pointer;
  }
  #container #top #top-mobile .pmobile3 {
    font-weight: 300;
    font-size: 13px;
    color: #ccc;
  }
  #container #top #top-mobile .mobile-plan {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #f00;
  }
  #container #top #top-mobile .mobile-plan .mobile-plan2 {
    display: flex;
    flex-direction: column;
  }
  #container #navMenu {
    display: none;
  }
  #container #mobile-boon {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
  }
  #container #mobile-boon .mobile-boonTitle {
    font-size: 23px;
  }
  #container #mobile-boon .mobile-boon1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #container #mobile-boon .mobile-boon1 i {
    font-size: 48px;
    color: #ff9900;
  }
  #container #mobile-boon .mobile-boon1 span {
    color: #ff9900;
  }
  #container #mobile-boon .mobile-boon1 p {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
  }
  #container #mobile-boon .mobile-boon2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #container #mobile-boon .mobile-boon2 i {
    font-size: 48px;
    color: #ff9900;
  }
  #container #mobile-boon .mobile-boon2 span {
    color: #ff9900;
  }
  #container #mobile-boon .mobile-boon2 p {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
  }
  #container #mobile-boon .mobile-boon3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #container #mobile-boon .mobile-boon3 i {
    font-size: 48px;
    color: #ff9900;
  }
  #container #mobile-boon .mobile-boon3 span {
    color: #ff9900;
  }
  #container #mobile-boon .mobile-boon3 p {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
  }
  #container #boon {
    display: none;
  }
  #container #rate-mobile {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #container #rate-mobile p {
    font-size: 23px;
  }
  #container #rate-mobile .rate-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  #container #rate-mobile .rate-wrapper .rate-left .rate1 {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 8px;
    background: #f8f8f8;
  }
  #container #rate-mobile .rate-wrapper .rate-left .rate1 i {
    font-size: 45px;
    color: #ff9900;
    margin-bottom: 5px;
  }
  #container #rate-mobile .rate-wrapper .rate-left .rate1 span {
    font-size: 16px;
    color: #000;
  }
  #container #rate-mobile .rate-wrapper .rate-left .rate1 p {
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
    letter-spacing: -0.5px;
  }
  #container #rate-mobile .rate-wrapper .rate-left .rate2 {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #f8f8f8;
  }
  #container #rate-mobile .rate-wrapper .rate-left .rate2 i {
    font-size: 45px;
    color: #ff9900;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  #container #rate-mobile .rate-wrapper .rate-left .rate2 span {
    font-size: 16px;
    color: #000;
  }
  #container #rate-mobile .rate-wrapper .rate-left .rate2 p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }
  #container #rate-mobile .rate-wrapper .rate-left .disc2 {
    position: relative;
    top: 20px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    background: #bbb;
    color: #fff;
    font-size: 10px;
  }
  #container #rate-mobile .rate-wrapper .rate-right {
    padding-top: 10px;
  }
  #container #rate-mobile .rate-wrapper .rate-right .rate3 {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 8px;
    background: #f8f8f8;
  }
  #container #rate-mobile .rate-wrapper .rate-right .rate3 i {
    font-size: 45px;
    color: #ff9900;
    margin-bottom: 5px;
  }
  #container #rate-mobile .rate-wrapper .rate-right .rate3 span {
    font-size: 16px;
    color: #000;
  }
  #container #rate-mobile .rate-wrapper .rate-right .rate3 p {
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
    letter-spacing: -0.5px;
  }
  #container #rate-mobile .rate-wrapper .rate-right .rate4 {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 8px;
    background: #f8f8f8;
  }
  #container #rate-mobile .rate-wrapper .rate-right .rate4 i {
    font-size: 45px;
    color: #ff9900;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  #container #rate-mobile .rate-wrapper .rate-right .rate4 span {
    font-size: 16px;
    color: #000;
  }
  #container #rate-mobile .rate-wrapper .rate-right .rate4 p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }
  #container #rate-mobile .rate-wrapper .rate-right .disc4 {
    position: relative;
    top: 20px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    background: #bbb;
    color: #fff;
    font-size: 10px;
  }
  #container #rate-mobile input[type=submit] {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    background: #ff9900;
    color: #fff;
  }
  #container #rate-mobile .rateSubmit {
    font-size: 11px;
    letter-spacing: -1px;
    color: #ccc;
  }
  #container #rate-plan {
    display: none;
  }
  #container #pay-top {
    display: none;
  }
  #container #qnaMobile {
    width: 100%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    gap: 20px;
    letter-spacing: -1px;
    border: 1px solid #f00;
  }
  #container #qnaMobile .qna {
    width: 100%;
    padding: 10px;
  }
  #container #qnaMobile .qna .Qmobile {
    font-size: 15px;
    font-weight: 400;
  }
  #container #qnaMobile .qna .Amobile {
    font-size: 12px;
    font-weight: 300;
  }
  #container #qnaMobile .qna .Amobile span {
    font-weight: 400;
    text-decoration: underline;
  }
  #container #memBoon {
    display: none;
  }
  #container #payment {
    margin: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #container #payment .pay-wrapper {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  #container #payment .pay-wrapper #credit .creditTitle {
    margin: 0 auto;
    padding: 20px;
  }
  #container #payment .pay-wrapper #credit .cardForm {
    margin: 0 auto;
  }
  #container #payment .pay-wrapper #credit .cardForm .cardForm1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  #container #payment .pay-wrapper #credit .cardForm .cardForm2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 0;
  }
  #container #payment .pay-wrapper #credit .cardForm .cardForm2 input[type=submit] {
    width: 170px;
    height: 40px;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #container #payment .pay-wrapper #giftCard {
    width: 480px;
  }
  #container #payment .pay-wrapper #giftCard .giftCardTitle {
    margin: 0 auto;
  }
  #container #payment .pay-wrapper #giftCard input[type=submit] {
    width: 170px;
    height: 40px;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #container #address {
    display: none;
  }
}