@import "../reset.scss";

body {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: map-get($map: $family, $key: kr-font);
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid map-get($map: $color, $key: main-desc-color);
  margin-bottom: 20px;
  h1 {
    font-size: 24px;
  }
  form {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    input[type="text"] {
      width: 300px;
      height: 40px;
      padding: 10px 10px;
      border-radius: 8px;
      background: map-get($map: $color, $key: searchBar-bg-color);
      border: none;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: map-get($map: $color, $key: main-border-color);
      }
    }
    input[type="button"] {
      width: 100px;
      height: 40px;
      border-radius: 8px;
      background: map-get($map: $color, $key: main-amazon-color);
      color: map-get($map: $color, $key: main-color);
      border: none;
      font-size: 16px;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        background: map-get($map: $color, $key: main-dark-color);
      }
    }
  }
  .dateFilter {
    display: flex;
    justify-content: space-between;
    label {
      @include border-style(
        $color: map-get($map: $color, $key: main-border-color)
      );
      margin-right: 10px;
      padding: 4px 14px;
      border-radius: 20px;
      cursor: pointer;
    }
    input[type="radio"] {
      display: none;
      &:nth-of-type(1):checked ~ label:nth-of-type(1) {
        @include border-style(
          $color: map-get($map: $color, $key: main-amazon-color)
        );
      }
      &:nth-of-type(2):checked ~ label:nth-of-type(2) {
        @include border-style(
          $color: map-get($map: $color, $key: main-amazon-color)
        );
      }
      &:nth-of-type(3):checked ~ label:nth-of-type(3) {
        @include border-style(
          $color: map-get($map: $color, $key: main-amazon-color)
        );
      }
      &:nth-of-type(4):checked ~ label:nth-of-type(4) {
        @include border-style(
          $color: map-get($map: $color, $key: main-amazon-color)
        );
      }
      &:nth-of-type(5):checked ~ label:nth-of-type(5) {
        @include border-style(
          $color: map-get($map: $color, $key: main-amazon-color)
        );
      }
    }
    .calendarFilter {
      width: 350px;
      display: flex;
      justify-content: space-between;
      input[type="date"] {
        width: 160px;
        border: none;
        border-bottom: 1px solid map-get($map: $color, $key: main-border-color);
        font-family: map-get($map: $family, $key: kr-font);
      }
    }
  }
}

#order-content {
  .sortFilter {
    select {
      width: 80px;
      height: 20px;
      font-family: map-get($map: $family, $key: kr-font);
      border: none;
      border-right: 1px solid;
      padding-right: 10px;
      &:last-child {
        border: none;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  .orderItems {
    width: 100%;
    .orderItem {
      margin-top: 50px;
      .item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        span {
          font-size: 24px;
          font-weight: 500;
        }
        a {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 16px;
          color: map-get($map: $color, $key: main-amazon-color);
          text-decoration: none;
          &:hover {
            border-bottom: 1px solid
              map-get($map: $color, $key: main-amazon-color);
          }
          i {
            padding-top: 4px;
            font-size: 10px;
          }
        }
      }
      .item-content {
        display: flex;
        align-items: center;
        gap: 40px;
        width: 100%;
        height: 220px;
        @include border-style($color: map-get($color, main-border-color));
        border-radius: 10px;
        padding: 40px 30px;
        .item-img {
          width: 140px;
          height: 140px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }
        .item-info {
          width: 60%;
          display: flex;
          flex-direction: column;
          .delivery-status {
            padding-bottom: 6px;
            border-bottom: 1px solid
              map-get($map: $color, $key: main-border-color);
          }
          .product-name {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
            .icon-cart {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              @include border-style($color: map-get($color, main-border-color));
              font-size: 18px;
              cursor: pointer;
            }
          }
          .product-option {
            margin-top: 6px;
            font-size: 10px;
          }
          .product-price {
            display: flex;
            align-items: center;
            margin-top: 30px;
            h4 {
              color: map-get($map: $color, $key: main-amazon-color);
              font-size: 16px;
              margin-right: 8px;
            }
            .order-number {
              display: flex;
              align-items: center;
              span {
                font-size: 10px;
                margin-right: 4px;
              }
              i {
                font-size: 8px;
                color: map-get($map: $color, $key: dark-placeholder-color);
                cursor: pointer;
              }
            }
          }
        }
        .item-query {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          button {
            @include border-style($color: map-get($color, main-border-color));
            padding: 4px 14px;
            border-radius: 20px;
            background: map-get($map: $color, $key: main-color);
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
              @include border-style($color: map-get($color, main-amazon-color));
              background: map-get($map: $color, $key: main-amazon-color);
              color: map-get($map: $color, $key: main-color);
            }
          }
        }
      }
    }
  }
}
