@import "./reset.scss";
@import "./header/header.scss";

html,
body {
	width: 100%;
	height: 100%;
}

header {
	width: 100%;
	// height: 100%;
	z-index: 1;
}

#main-contents {
	margin-top: 112px;
	min-height: 500px;
	#main-slider-wrap {
		position: relative;
		margin-bottom: 100px;
		.main-slider-title {
			position: absolute;
			bottom: 0;
			width: calc(100% / 3);
			height: calc(100% / 5);
			background-color: map-get($color, $key: main-amazon-color);
			transform: translateY(50%);
			p {
				margin: 10px;
				font-size: 30px;
				font-weight: 400;
				color: map-get($map: $color, $key: main-dark-color);
			}
		}
	}
	#main-promotions {
		width: 1000px;
		height: 528px;
		margin: 0 auto;
		border: 1px solid #f00;
		.promotions-items {
			border: 1px solid #f00;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: red;
			ul {
				display: flex;
				justify-content: space-between;
				gap: 40px;
				li {
					display: flex;
					flex-direction: column;
					width: 270px;
					img {
						width: 268px;
					}
				}
			}
		}
	}
}

iframe {
	width: 100%;
	height: 360px;
}

@media screen and (max-width: 1200px) {
	#main-contents {
		#main-slider-wrap {
			.main-slider-title {
				width: 340px;
				height: 85px;
				p {
					font-size: 18px;
				}
			}
		}
	}
}
