@import "./header/header.scss";

html,
body {
  position: relative;
  width: 100%;
  height: 6000px;
  overflow-x: hidden;
}

header {
  margin: 0 auto;
  width: 100%;
  // height: 100%;
  z-index: 2;
}

.bgFilter {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.1);
  display: none;
  &.active {
    display: block;
  }
}

.main-sideMenu-container {
  height: 100%;
  z-index: 10000;
  position: fixed;
  left: -100%;
  background: map-get($map: $color, $key: main-color);
  width: 216px;
  transition: all 0.6s;
  .sideMenu-header {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid map-get($map: $color, $key: main-border-color);
    .sideMenu-login {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 500;
      cursor: pointer;
    }
    .fa-x {
      cursor: pointer;
    }
  }
  .main-sideMenu {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    .sideMenu-category {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-bottom: 1px solid map-get($map: $color, $key: main-border-color);
      .category-title {
        padding: 10px;
        font-weight: bold;
      }
      .categories-large {
        li {
          width: 100%;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            background: linear-gradient(
              90deg,
              rgba(255, 216, 20, 0.7) 0%,
              #ffd814 4%,
              #ff9900 93.5%,
              rgba(255, 153, 0, 0.7) 99.5%
            );
          }
          &:hover span,
          &:hover i {
            color: map-get($map: $color, $key: main-color);
          }
          span {
            display: flex;
            gap: 4px;
            align-items: center;
            &.material-symbols-outlined {
              font-size: 12px;
            }
          }
        }
      }
    }
    .sideMenu-misc {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-bottom: 1px solid map-get($map: $color, $key: main-border-color);
      .misc-title {
        padding: 10px;
        font-weight: bold;
      }
      .misc-list {
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            background: #fafafa;
            color: map-get($map: $color, $key: main-amazon-color);
          }
        }
      }
    }
    .sideMenu-settings {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .settings-title {
        padding: 10px;
        font-weight: bold;
      }
      .settings-list {
        li {
          padding: 10px;
          font-size: 14px;
          &.darkmode {
            display: none;
          }
          a {
            display: flex;
            align-items: center;
            gap: 4px;
            .material-symbols-outlined {
              font-size: 14px;
            }
          }
          &:hover {
            background: #fafafa;
          }
          &:hover:not(.material-symbols-outlined) {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.active {
    left: 0;
  }
}

#main {
  z-index: 1;
  position: absolute;
  top: 140px;
  width: 100%;
  height: 5100px;
  .profile-banner {
    width: 100%;
    height: 260px;
    background: map-get($map: $color, $key: main-amazon-color);
    .profile-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 58px;
      .profile-pic {
        img {
          width: 160px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .profile-info {
        padding: 20px 0;
        color: map-get($map: $color, $key: main-color);
        display: flex;
        flex-direction: column;
        gap: 44px;
        .info-first {
          display: flex;
          align-items: center;
          gap: 20px;
          h3 {
            font-size: 32px;
          }
          .user-membership {
            font-size: 18px;
            font-weight: 500;
          }
        }
        .info-second {
          .user-history-list {
            display: flex;
            gap: 70px;
            li {
              display: flex;
              flex-direction: column;
              span {
                font-size: 14px;
              }
              a {
                font-weight: bold;
                font-size: 32px;
              }
            }
          }
        }
      }
    }
  }
  .myPage-content {
    margin-top: 40px;
    width: 100%;
    height: 2000px;
    display: flex;
    position: relative;
    .profile-sideMenu {
      position: sticky;
      bottom: 0;
      width: 200px;
      .profile-sideMenu-list {
        h1 {
          font-size: 28px;
          font-family: map-get($map: $family, $key: main-font);
          border-bottom: 1px solid;
          padding-bottom: 10px;
          margin-bottom: 20px;
        }
        .items {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .item {
            border-bottom: 1px solid
              map-get($map: $color, $key: main-border-color);
            padding-bottom: 20px;
            &:last-child {
              border: none;
            }
            h3 {
              margin-bottom: 20px;
              font-size: 18px;
            }
            ul {
              display: flex;
              flex-direction: column;
              gap: 10px;
              li {
                a {
                  transition: all 0.3s;
                  font-size: 14px;
                  &.active {
                    color: map-get($map: $color, $key: main-amazon-color);
                  }
                }
                &:hover a {
                  color: map-get($map: $color, $key: main-amazon-color);
                }
              }
            }
            .last-item {
              font-weight: 500;
              font-size: 18px;
            }
          }
        }
      }
    }
    .pageBox {
      position: sticky;
      margin-left: 20px;
      width: 970px;
      height: 5000px;
    }
  }
}

#footer {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 360px;
}

.mobile-navBar {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    right: 0;
  }
  .main-sideMenu-container {
    // display: none;
    position: fixed;
    left: 100%;
    &.active {
      // display: block;
      left: auto;
      right: 0;
    }
    .main-sideMenu {
      scrollbar-width: none;
      overscroll-behavior: contain;
      .sideMenu-category {
        .categories-large {
          li {
            .fa-chevron-right {
              transform: rotate(90deg);
            }
          }
        }
      }
      .sideMenu-misc {
        .misc-list {
          .fa-chevron-right {
            transform: rotate(90deg);
          }
        }
      }
      .sideMenu-settings {
        .settings-list {
          li {
            &.darkmode {
              display: block;
            }
          }
        }
      }
    }
  }

  #main {
    .profile-banner {
      height: 340px;
      .profile-content {
        flex-direction: column;
        gap: 10px;
        padding: 30px;
        .profile-pic {
          img {
            width: 140px;
          }
        }
        .profile-info {
          padding: 0;
          .info-first {
            flex-direction: column;
            gap: 6px;
          }
        }
      }
    }
  }

  #footer {
    height: 860px;
  }

  .mobile-navBar {
    display: block;
    z-index: 2;
    width: 100%;
    height: 68px;
    background: map-get($map: $color, $key: main-color);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 25px rgba(0, 0, 0, 0.25);
    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      li {
        a {
          transition: all 0.3s;
          span {
            font-size: 40px;
          }
          i {
            font-size: 30px;
          }
          &:hover {
            color: map-get($map: $color, $key: main-amazon-color);
          }
        }
      }
    }
  }
}
