@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  webkit-tap-highlight-color: transparent;
}

ul,
li,
ol {
  list-style: none;
}

.loader-box {
  position: fixed;
  background: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-box .loader {
  position: relative;
  z-index: 10000001;
  display: inline-flex;
  border: 2px solid #ff9900;
  --c: no-repeat linear-gradient(map-get($color, main-amazon-color) 0 0) 50%;
  background: #fff, var(--c) calc(50% - 5px)/5px 5px, var(--c) calc(50% + 5px)/5px 5px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  justify-content: center;
  align-items: center;
  color: #ff9900;
}
.loader-box .loader::before,
.loader-box .loader::after {
  content: "12 00 23 40 31 45 60 17 45 32 29 42 50 08 14 07 46 11 03 55";
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  line-height: 1em;
  height: 1em;
  width: 2ch;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 #ff9900;
  overflow: hidden;
  margin: 5px 10px;
  animation: l3 1s steps(20) infinite;
}
.loader-box .loader::before {
  animation-duration: 1.5s;
}
.loader-box.active {
  display: none;
}

@keyframes l3 {
  100% {
    text-shadow: 0 -20em 0 #ff9900;
  }
}