@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  webkit-tap-highlight-color: transparent;
}

ul,
li,
ol {
  list-style: none;
}

.loader-box {
  position: fixed;
  background: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.loader-box .loader {
  position: relative;
  width: 120px;
  height: 20px;
  box-shadow: 0 0 30px rgba(255, 153, 0, 0.2);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #ff9900) left -50px top 0/50px 20px no-repeat white;
  animation: l2 1s infinite linear;
}
.loader-box .loader img {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-box.active {
  display: none;
}

@keyframes l2 {
  100% {
    background-position: right -50px top 0;
  }
}