.slider {
	width: 100%;
	margin: 0 auto;
	.slick-next,
	.slick-prev {
		z-index: 200;
	}

	.slick-next {
		right: 35px;
	}

	.slick-prev {
		left: 35px;
	}

	.slick-prev:before,
	.slick-next:before {
		color: black;
	}

	.slick-next,
	.slick-prev {
		&::before {
			content: "";
		}
	}
}

.slick-slide {
	margin: 0px 0px;
}

.slick-slide img {
	width: 100%;
}

.slick-dots li button::before {
	content: "";
	width: 100%;
	height: 100%;
}

.slick-dots li button {
	width: 8px;
	height: 8px;
	background-color: #999999;
	border-radius: 50%;
}

.slick-dots li.slick-active button {
	background-color: #333333;
}

/*main-slider*/
#main-slider-wrap {
	.slick-next,
	.slick-prev {
		&::before {
			content: "";
		}
		width: 40px;
		height: 40px;
	}
	.slick-next:hover,
	.slick-next:focus,
	.slick-next {
		background-image: url("../img/mainbanner/next_btn.png");
		background-size: cover;
	}
	.slick-prev:hover,
	.slick-prev:focus,
	.slick-prev {
		background-image: url("../img/mainbanner/prev_btn.png");
		background-size: cover;
	}
	.main-slider {
		&.slider {
			.slick-dots {
				bottom: -60px;
			}
		}
	}
}

#event-coupon {
	.event-slider-wrap {
		.event-slider {
			&.slider {
				.slick-dots {
					bottom: -70px;
				}
				.slick-prev {
					left: -30px;
				}
				.slick-next {
					right: -30px;
				}
				.slick-next,
				.slick-prev {
					&::before {
						content: "";
					}
					width: 60px;
					height: 60px;
				}
				.slick-next:hover,
				.slick-next:focus,
				.slick-next {
					background-image: url("../img/mainbanner/next_btn.png");
					background-size: cover;
				}
				.slick-prev:hover,
				.slick-prev:focus,
				.slick-prev {
					background-image: url("../img/mainbanner/prev_btn.png");
					background-size: cover;
				}
				.slick-list {
					margin: 0 -30px;
				}
				.slick-slide {
					min-height: 324px;
					margin: 0 30px;
					padding: 60px;
					border-radius: 30px;
					overflow: hidden;
					color: #ffffff;
					background-color: #000000;
				}
			}
		}
	}
}

#mmb-slider-wrap {
	.mbb-slider {
		&.slider {
			.slick-dots {
				bottom: -70px;
			}
			.slick-prev {
				left: -30px;
			}
			.slick-next {
				right: -30px;
			}
			.slick-next,
			.slick-prev {
				&::before {
					content: "";
				}
				width: 60px;
				height: 60px;
			}
			.slick-next:hover,
			.slick-next:focus,
			.slick-next {
				background-image: url("../img/mainbanner/next_btn.png");
				background-size: cover;
			}
			.slick-prev:hover,
			.slick-prev:focus,
			.slick-prev {
				background-image: url("../img/mainbanner/prev_btn.png");
				background-size: cover;
			}
			.slick-list {
				margin: 0 -30px;
			}
			.slick-slide {
				min-height: 324px;
				margin: 0 30px;
				padding: 10px;
				overflow: hidden;
				color: #000000;
				background-color: #ffffff;
			}
		}
	}
}
