@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  webkit-tap-highlight-color: transparent;
}

ul,
li,
ol {
  list-style: none;
}

.loader-box {
  position: fixed;
  background: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.loader-box .loader {
  position: relative;
  width: 120px;
  height: 20px;
  box-shadow: 0 0 30px rgba(255, 153, 0, 0.2);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #ff9900) left -50px top 0/50px 20px no-repeat white;
  animation: l2 1s infinite linear;
}
.loader-box .loader img {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-box.active {
  display: none;
}

@keyframes l2 {
  100% {
    background-position: right -50px top 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  webkit-tap-highlight-color: transparent;
}

ul,
li,
ol {
  list-style: none;
}

.loader-box {
  position: fixed;
  background: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.loader-box .loader {
  position: relative;
  width: 120px;
  height: 20px;
  box-shadow: 0 0 30px rgba(255, 153, 0, 0.2);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #ff9900) left -50px top 0/50px 20px no-repeat white;
  animation: l2 1s infinite linear;
}
.loader-box .loader img {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-box.active {
  display: none;
}

@keyframes l2 {
  100% {
    background-position: right -50px top 0;
  }
}
body {
  font-family: "Noto Sans KR";
}

.inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
}
header .gnb-content {
  width: 100%;
  overflow: hidden;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .gnb-content .gnb {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
header .gnb-content .gnb .logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .gnb-content .gnb .logo_container .sideMenu-trigger-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
header .gnb-content .gnb .logo_container .sideMenu-trigger-btn.active {
  display: block;
}
header .gnb-content .gnb .logo_container img {
  width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .gnb-content .gnb .searchBar {
  border: 2px solid #ccc;
  border-radius: 40px;
}
header .gnb-content .gnb .searchBar form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}
header .gnb-content .gnb .searchBar form select {
  outline: none;
  border: none;
  height: 18px;
  margin-right: 4px;
  color: #aaa;
}
header .gnb-content .gnb .searchBar form select option {
  color: #000;
}
header .gnb-content .gnb .searchBar form .bar {
  width: 12px;
  transform: rotate(90deg);
}
header .gnb-content .gnb .searchBar form .inputBox {
  display: flex;
  align-items: center;
}
header .gnb-content .gnb .searchBar form .inputBox .material-symbols-outlined {
  color: #aaa;
}
header .gnb-content .gnb .searchBar form .inputBox .material-symbols-outlined.micToggle {
  cursor: pointer;
}
header .gnb-content .gnb .searchBar form .inputBox input[type=search] {
  padding-left: 4px;
  padding-right: 10px;
  width: 420px;
  border: none;
}
header .gnb-content .gnb .searchBar form .inputBox input[type=search]:focus {
  outline: none;
}
header .gnb-content .gnb .searchBar form .inputBox input[type=search]::-moz-placeholder {
  color: #aaa;
}
header .gnb-content .gnb .searchBar form .inputBox input[type=search]::placeholder {
  color: #aaa;
}
header .gnb-content .gnb .searchBar form .inputBox .fa-magnifying-glass {
  color: #ff9900;
}
header .gnb-content .gnb .hottest-items {
  display: flex;
  justify-content: space-between;
  align-self: start;
  cursor: pointer;
}
header .gnb-content .gnb .hottest-items.active {
  display: none;
}
header .gnb-content .gnb .hottest-items .ranking-container {
  width: 128px;
  height: 100%;
  position: relative;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking {
  position: relative;
  height: 100%;
  bottom: 0;
  opacity: 1;
  transition: all 0.6s;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking.active {
  opacity: 0;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking p {
  font-weight: 500;
  width: 128px;
  padding: 16px 0;
  position: relative;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking p:hover {
  color: #ff9900;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking p span {
  color: #ff9900;
}
header .gnb-content .gnb .hottest-items .ranking-menu {
  display: none;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  height: 580px;
  position: absolute;
  z-index: 10;
  padding: 20px;
  top: 54px;
  background: #fff;
  border: 1px solid #ccc;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-menu-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-menu-title span {
  font-size: 12px;
  color: #333;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-selection label {
  text-align: center;
  width: 50%;
  border: 1px solid;
  padding: 4px 14px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #aaa;
  cursor: pointer;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-selection label:first-of-type {
  border-right: none;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-selection input[type=radio] {
  display: none;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-selection input[type=radio]:first-of-type:checked + label:first-of-type {
  background: #fff;
  color: #000;
  font-weight: 600;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-selection input[type=radio]:last-of-type:checked + label:last-of-type {
  background: #fff;
  color: #000;
  font-weight: 600;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content {
  position: relative;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content .ranking-content-first {
  z-index: 1;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content .ranking-content-first.active {
  display: none;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content .ranking-content-second {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  display: none;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content .ranking-content-second.active {
  display: block;
  z-index: 2;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content p {
  font-weight: 500;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content p:hover {
  color: #ff9900;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content p span {
  color: #ff9900;
}
header .gnb-content .gnb .hottest-items .ranking-menu.active {
  display: flex;
}
header .gnb-content .gnb .hottest-items .fa-chevron-down {
  align-self: flex-start;
  padding: 20px;
  font-size: 14px;
}
header .gnb-content .gnb .hottest-items .fa-chevron-down.active {
  transform: scaleY(-1);
}
header .gnb-content .icon-menu .items {
  align-items: center;
  display: flex;
  gap: 26px;
}
header .gnb-content .icon-menu .items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
header .gnb-content .icon-menu .items .item:hover .fa-regular,
header .gnb-content .icon-menu .items .item:hover span {
  color: #ff9900;
}
header .gnb-content .icon-menu .items .item:hover ul {
  height: 170px;
  padding: 10px 14px;
}
header .gnb-content .icon-menu .items .item .fa-regular {
  transition: all 0.3s;
  font-size: 26px;
}
header .gnb-content .icon-menu .items .item .material-symbols-outlined {
  transition: all 0.3s;
  font-size: 26px;
}
header .gnb-content .icon-menu .items .item span {
  transition: all 0.3s;
  font-size: 10px;
}
header .gnb-content .icon-menu .items .item ul {
  overflow: hidden;
  height: 0;
  position: absolute;
  top: 60px;
  background: white;
  box-shadow: 0 0 4px #000;
  border-radius: 8px;
  padding: 0;
  font-size: 14px;
  transform-origin: top;
  transition: all 0.3s;
}
header .gnb-content .icon-menu .items .item ul li {
  margin-bottom: 10px;
  transition: all 0.3s;
}
header .gnb-content .icon-menu .items .item ul li:hover {
  color: #ff9900;
}
header .gnb-content .icon-menu .items .item ul:hover {
  max-height: 170px;
  padding: 10px 14px;
}
header .banner {
  margin-top: 10px;
}
header .banner .lnb-content {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  white-space: nowrap;
  transition: all 0.3s;
}
header .banner .lnb-content.active {
  height: 0;
  overflow: hidden;
  border: none;
}
header .banner .lnb-content .lnb-main {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
header .banner .lnb-content .lnb-main .main-category-menu {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 190px;
  padding: 10px;
  background: #ff9900;
  color: #fff;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger {
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 12px;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger span {
  position: absolute;
  background: #fff;
  width: 18px;
  height: 1px;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger span:first-child {
  top: 0;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger span:nth-child(2) {
  top: 50%;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger span:last-child {
  top: 100%;
}
header .banner .lnb-content .lnb-main .lnb {
  display: flex;
  gap: 20px;
  padding: 10px;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy {
  position: relative;
  cursor: pointer;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy .fa-circle-question {
  font-size: 14px;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy.active::after, header .banner .lnb-content .lnb-main .lnb .online-pharmacy.active::before {
  opacity: 1;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy.display::after, header .banner .lnb-content .lnb-main .lnb .online-pharmacy.display::before {
  display: block;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy::before {
  content: attr(data-info);
  display: none;
  position: absolute;
  white-space: pre-wrap;
  bottom: -334px;
  width: 180px;
  height: auto;
  padding: 20px;
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy::after {
  content: "";
  display: none;
  position: absolute;
  bottom: -5px;
  right: 2.5px;
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid;
  opacity: 0;
  transition: all 0.3s;
}
header .banner .lnb-content .lnb-main .lnb a {
  transition: all 0.3s;
}
header .banner .lnb-content .lnb-main .lnb a:hover {
  color: #ff9900;
}
header .banner .lnb-content .lnb-user-menu {
  display: flex;
  gap: 4px;
}
header .banner .lnb-content .lnb-user-menu li {
  padding-right: 6px;
  border-right: 1px solid #aaa;
}
header .banner .lnb-content .lnb-user-menu li a {
  color: #aaa;
}
header .banner .lnb-content .lnb-user-menu li a:hover {
  text-decoration: underline;
}
header .banner .lnb-content .lnb-user-menu li:last-child {
  border: none;
}

.Top {
  position: fixed;
  right: 50px;
  bottom: 100px;
  opacity: 0;
  transition: all 0.3s;
}
.Top .desktop-top {
  width: 56px;
  height: 56px;
  padding: 8px;
  background: #5c5a5a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  cursor: pointer;
}
.Top .desktop-top .fa-chevron-up {
  font-size: 24px;
}
.Top .mobile-top {
  display: none;
}
.Top .mobile-top .mobile-top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}
.Top .mobile-top .mobile-top-menu span {
  text-align: center;
  line-height: 38px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(238, 238, 238, 0.8);
  color: #000;
  font-size: 24px;
}
.Top.active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .inner {
    width: 100%;
  }
  header {
    padding: 10px;
    width: 100%;
  }
  header .gnb-content {
    width: 100%;
    justify-content: center;
  }
  header .gnb-content .gnb {
    width: 100%;
  }
  header .gnb-content .gnb .logo_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  header .gnb-content .gnb .logo_container .sideMenu-trigger-btn {
    display: block;
    order: 2;
  }
  header .gnb-content .gnb .searchBar {
    display: none;
  }
  header .gnb-content .gnb .hottest-items {
    display: none;
  }
  header .gnb-content .icon-menu {
    display: none;
  }
  header .banner {
    margin: 0;
  }
  header .banner .lnb-content {
    border-top: 1px solid #ccc;
    width: 100%;
    justify-content: center;
    overflow-x: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    overflow-y: hidden;
  }
  header .banner .lnb-content .lnb-main {
    width: 100%;
  }
  header .banner .lnb-content .lnb-main .main-category-menu {
    display: none;
  }
  header .banner .lnb-content .lnb-main .lnb {
    width: 100%;
    justify-content: space-evenly;
  }
  header .banner .lnb-content .lnb-main .lnb .online-pharmacy {
    display: none;
  }
  header .banner .lnb-content .lnb-user-menu {
    display: none;
  }
  .Top {
    right: 25px;
  }
  .Top .desktop-top {
    display: none;
  }
  .Top .mobile-top {
    display: block;
  }
}
html,
body {
  position: relative;
  width: 100%;
  height: 2600px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.bgFilter {
  position: fixed;
  z-index: 300;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: none;
}
.bgFilter.active {
  display: block;
}

.main-sideMenu-container {
  height: 100%;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: -216px;
  background: #fff;
  width: 216px;
  transition: all 0.6s;
}
.main-sideMenu-container .sideMenu-header {
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.main-sideMenu-container .sideMenu-header .sideMenu-login {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  cursor: pointer;
}
.main-sideMenu-container .sideMenu-header .sideMenu-login span {
  font-weight: normal;
}
.main-sideMenu-container .sideMenu-header .fa-x {
  cursor: pointer;
  z-index: 100000;
}
.main-sideMenu-container .main-sideMenu {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #ccc;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .category-title {
  padding: 10px;
  font-weight: bold;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li .fa-chevron-right {
  opacity: 0;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li:hover {
  background: linear-gradient(90deg, rgba(255, 216, 20, 0.7) 0%, #ffd814 4%, #ff9900 93.5%, rgba(255, 153, 0, 0.7) 99.5%);
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li:hover span, .main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li:hover i {
  color: #fff;
  opacity: 1;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li div span {
  display: flex;
  gap: 4px;
  align-items: center;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li div span.material-symbols-outlined {
  font-size: 12px;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li .categories-middle {
  display: none;
  position: absolute;
  top: 0;
  left: 94%;
  width: 100%;
  height: 100%;
  background: white;
  overflow-y: scroll;
  opacity: 0;
  transition: opacity 0.3s;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li .categories-middle li {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li .categories-middle li:hover {
  background: #fafafa;
  color: #ff9900;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li .categories-middle.active {
  display: block;
}
.main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li .categories-middle.opacity {
  opacity: 1;
}
.main-sideMenu-container .main-sideMenu .sideMenu-misc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #ccc;
}
.main-sideMenu-container .main-sideMenu .sideMenu-misc .misc-title {
  padding: 10px;
  font-weight: bold;
}
.main-sideMenu-container .main-sideMenu .sideMenu-misc .misc-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}
.main-sideMenu-container .main-sideMenu .sideMenu-misc .misc-list li:hover {
  background: #fafafa;
  color: #ff9900;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-title {
  padding: 10px;
  font-weight: bold;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li {
  padding: 10px;
  font-size: 14px;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li.darkmode {
  display: none;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li a {
  display: flex;
  align-items: center;
  gap: 4px;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li a .material-symbols-outlined {
  font-size: 14px;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li:hover {
  background: #fafafa;
}
.main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li:hover:not(.material-symbols-outlined) {
  text-decoration: underline;
}
.main-sideMenu-container.active {
  left: 0;
}

iframe {
  width: 100%;
  height: 360px;
}

main {
  position: absolute;
  top: 140px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 50px;
}
main .cart-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
main .cart-title h2 {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}
main .cart-title .cart-title-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .cart-title .cart-title-items .cart-title-icons {
  display: flex;
  align-items: center;
}
main .cart-title .cart-title-items .cart-title-icons span {
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
  background: #ccc;
}
main .cart-title .cart-title-items .cart-title-icons span:nth-of-type(1) {
  background: #ff9900;
}
main .cart-title .cart-title-items .cart-title-icons hr {
  width: 60px;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}
main .cart-title .cart-title-items .cart-title-desc {
  display: flex;
  text-align: center;
  margin-top: 10px;
  gap: 58px;
}
main .cart-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 20px;
}
main .cart-wrap .cart-items-wrapper {
  display: flex;
  flex-direction: column;
  flex: 6;
  width: 100%;
  gap: 20px;
}
main .cart-wrap .cart-items-wrapper .cart-items {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item {
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-title h3 {
  font-size: 18px;
  margin: 0;
}
hr {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 0;
}

main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-header input[type=checkbox] {
  margin-right: 10px;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-header span {
  font-size: 20px;
  cursor: pointer;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-main {
  display: flex;
  gap: 20px;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-main img {
  width: 130px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-main h3 {
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-main p {
  margin-top: 10px;
  color: #777;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-options {
  max-width: 760px;
  height: 100px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  border-radius: 10px;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-options .options-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-options .options-title span {
  right: 10px;
  cursor: pointer;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-options .options-bottom {
  width: 100%;
  height: 100%;
  display: flex;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-options .options-bottom .cart-options-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 120px;
  height: 35px;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-options .options-bottom .cart-item-price {
  font-size: 14px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-actions {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  cursor: pointer;
  color: #ff9900;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item .cart-item-actions .cart-change-options {
  padding: 5px;
  font-size: 12px;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item-footer h3 {
  padding-top: 20px;
  font-size: 16px;
  margin: 0;
}
main .cart-wrap .cart-items-wrapper .cart-items .cart-item-footer p {
  font-size: 14px;
  color: #777;
  margin: 0;
}
main .cart-wrap .cart-items-wrapper .recommended-products {
  max-width: 800px;
  padding: 40px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 40px;
}
main .cart-wrap .cart-items-wrapper .recommended-products h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
}
main .cart-wrap .cart-items-wrapper .recommended-products .products-slider {
  position: relative;
  display: flex;
  align-items: center;
}
main .cart-wrap .cart-items-wrapper .recommended-products .products-slider .products-container {
  display: flex;
  padding: 20px 0;
  overflow-x: scroll;
}
main .cart-wrap .cart-items-wrapper .recommended-products .products-slider .products-container .product-card {
  width: 250px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin: 25px;
  text-align: center;
}
main .cart-wrap .cart-items-wrapper .recommended-products .products-slider .products-container .product-card img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
}
main .cart-wrap .cart-items-wrapper .recommended-products .products-slider .products-container .product-card h3 {
  width: 140px;
  font-size: 18px;
  font-weight: normal;
  color: #777;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .cart-wrap .cart-items-wrapper .recommended-products .products-slider .products-container .product-card p {
  font-size: 14px;
  color: #777;
}
main .cart-wrap .cart-items-wrapper .recommended-products .products-slider .products-container .product-card .price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  color: #000;
  font-weight: normal;
}
main .cart-wrap .cart-items-wrapper .recommended-products .products-slider .products-container .product-card .price span {
  color: #ff6f00;
  font-weight: normal;
}
main .cart-wrap .cart-items-wrapper .recommended-products .products-slider .products-container .product-card .product-tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
main .cart-wrap .cart-items-wrapper .recommended-products .products-slider .products-container .product-card .product-tags .tag {
  background-color: #ff6f00;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}
main .cart-wrap .cart-items-wrapper .recommended-products .products-slider .products-container .product-card .product-tags .tag:first-child {
  background: #777;
}
main .cart-wrap .checkout-summary {
  width: 300px;
  height: 400px;
  margin-left: 20px;
  position: sticky;
  top: 80px;
  flex: 4;
}
main .cart-wrap .checkout-summary .summary-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .cart-wrap .checkout-summary .summary-box h3 {
  margin-top: 0;
  font-size: 20px;
}
main .cart-wrap .checkout-summary .summary-box p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 16px;
}
main .cart-wrap .checkout-summary .summary-box p.total {
  font-weight: bold;
  font-size: 18px;
}
main .cart-wrap .checkout-summary .summary-box .checkout-button {
  width: 100%;
  padding: 10px;
  background-color: #ff6f00;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
main .cart-wrap .checkout-summary .summary-box .checkout-button:hover {
  background: #000;
  color: #fff;
}
main .banner {
  margin-top: 20px;
}

#footer {
  position: absolute;
  bottom: -600px;
}

/* 모달 배경 */
.modal-background {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 흐림 효과 */
  z-index: 1000; /* 다른 요소들보다 위에 표시 */
}

/* 모달창 */
.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* 배경보다 위에 표시 */
}
.modal .modal-content {
  text-align: center;
}
.modal .modal-content p {
  margin-bottom: 20px;
}
.modal .modal-content button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal .modal-content button.cancel {
  background-color: #ccc;
  transition: all 0.3s;
}
.modal .modal-content button.cancel:hover {
  background-color: #b0b0b0;
}
.modal .modal-content button#confirmDelete {
  background-color: #ff9900;
  color: white;
  transition: all 0.3s;
}
.modal .modal-content button#confirmDelete:hover {
  background: #000;
}

.mobile-navBar {
  display: none;
}

@media screen and (max-width: 768px) {
  .main-sideMenu-container {
    display: none;
    position: fixed;
    left: 100%;
  }
  .main-sideMenu-container.active {
    display: block;
    left: auto;
    right: 0;
  }
  .main-sideMenu-container .main-sideMenu {
    scrollbar-width: none;
    overscroll-behavior: contain;
  }
  .main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li:hover {
    color: #000;
    background: #fff;
  }
  .main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li:hover span, .main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li:hover i {
    color: #000;
  }
  .main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li > div {
    padding: 10px;
  }
  .main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li .fa-chevron-right {
    transform: rotate(90deg);
    opacity: 1;
  }
  .main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li .fa-chevron-right.active {
    transform: scaleY(-1) rotate(90deg);
  }
  .main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li .categories-middle {
    left: 0;
    position: relative;
    height: auto;
    width: 100%;
    opacity: 1;
  }
  .main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li .categories-middle li {
    align-items: start;
    background: #fff;
  }
  .main-sideMenu-container .main-sideMenu .sideMenu-category .categories-large li .categories-middle.mactive {
    display: block;
  }
  .main-sideMenu-container .main-sideMenu .sideMenu-misc .misc-list .fa-chevron-right {
    transform: rotate(90deg);
  }
  .main-sideMenu-container .main-sideMenu .sideMenu-settings .settings-list li.darkmode {
    display: block;
  }
  header {
    left: 0;
  }
  main {
    margin-top: 10px;
  }
  main .cart-title {
    display: none;
  }
  main .cart-wrap {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  main .cart-wrap .cart-items-wrapper {
    width: 100%;
    gap: 15px;
  }
  main .cart-wrap .cart-items {
    width: 100%;
  }
  main .cart-wrap .cart-items .cart-item {
    padding: 15px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-title {
    gap: 5px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-title h3 {
    font-size: 14px;
    font-weight: normal;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-header input[type=checkbox] {
    margin-right: 100px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-header span {
    font-size: 18px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-main {
    gap: 15px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-main img {
    width: 80px;
    height: 80px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-main h3 {
    font-size: 12px;
    line-height: 1.3;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-main p {
    margin-top: 5px;
    font-size: 10px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-options {
    width: 100%;
    height: 100px;
    padding: 20px;
    margin-top: 10px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-options .options-title h3 {
    font-size: 14px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-options .options-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-options .options-bottom .cart-options-control {
    width: 100px;
    font-size: 16px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-options .options-bottom .cart-options-control i {
    font-size: 16px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-options .options-bottom .cart-options-control span {
    font-size: 14px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-options .options-bottom .cart-item-price {
    font-size: 14px;
    top: 57px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-footer {
    margin-top: 10px;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-footer h3 {
    font-size: 14px;
    font-weight: normal;
  }
  main .cart-wrap .cart-items .cart-item .cart-item-footer p {
    font-size: 12px;
  }
  main .cart-wrap .recommended-products {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  main .cart-wrap .recommended-products h2 {
    font-size: 14px;
  }
  main .cart-wrap .recommended-products .products-slider {
    justify-content: center;
  }
  main .cart-wrap .recommended-products .products-slider .slider-btn {
    display: none;
  }
  main .cart-wrap .recommended-products .products-slider .products-container {
    scrollbar-width: none;
  }
  main .cart-wrap .recommended-products .products-slider .products-container .product-card {
    width: 150px;
    padding: 10px;
    margin: 5px;
  }
  main .cart-wrap .recommended-products .products-slider .products-container .product-card h3 {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  main .cart-wrap .recommended-products .products-slider .products-container .product-card p {
    font-size: 10px;
  }
  main .cart-wrap .recommended-products .products-slider .products-container .product-card .price {
    font-size: 11px;
    margin-bottom: 10px;
  }
  main .cart-wrap .recommended-products .products-slider .products-container .product-card .price span {
    font-size: 12px;
  }
  main .cart-wrap .recommended-products .products-slider .products-container .product-card .product-tags {
    gap: 5px;
  }
  main .cart-wrap .recommended-products .products-slider .products-container .product-card .product-tags .tag {
    padding: 5px;
    font-size: 10px;
  }
  main .cart-wrap .checkout-summary {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 15px;
  }
  main .cart-wrap .checkout-summary .summary-box {
    padding: 15px;
  }
  main .cart-wrap .checkout-summary .summary-box h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  main .cart-wrap .checkout-summary .summary-box p {
    font-size: 14px;
    margin: 5px;
  }
  main .cart-wrap .checkout-summary .summary-box p.total {
    font-size: 16px;
    color: #ff9900;
  }
  main .cart-wrap .checkout-summary .summary-box .checkout-button {
    padding: 12px;
    font-size: 18px;
  }
  main .banner {
    width: 100%;
  }
  main .banner img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #footer {
    position: absolute;
    bottom: -1000px;
    height: 840px;
  }
  .mobile-navBar {
    display: block;
    z-index: 2;
    width: 100%;
    height: 68px;
    background: #fff;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 25px rgba(0, 0, 0, 0.25);
  }
  .mobile-navBar ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .mobile-navBar ul li a {
    transition: all 0.3s;
  }
  .mobile-navBar ul li a span {
    font-size: 40px;
  }
  .mobile-navBar ul li a i {
    font-size: 30px;
  }
  .mobile-navBar ul li a:hover {
    color: #ff9900;
  }
  .mobile-navBar ul li a.mobile-cart-shortcut {
    color: #ff9900;
  }
}