@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
ol {
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: "Noto Sans KR";
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}
header h1 {
  font-size: 24px;
}
header form {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
header form input[type=text] {
  width: 300px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 8px;
  background: #eee;
  border: none;
}
header form input[type=text]:focus {
  outline: none;
}
header form input[type=text]::-moz-placeholder {
  color: #ccc;
}
header form input[type=text]::placeholder {
  color: #ccc;
}
header form input[type=button] {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background: #ff9900;
  color: #fff;
  border: none;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;
}
header form input[type=button]:hover {
  background: #000;
}
header .dateFilter {
  display: flex;
  justify-content: space-between;
}
header .dateFilter label {
  border: 1px solid #ccc;
  margin-right: 10px;
  padding: 4px 14px;
  border-radius: 20px;
  cursor: pointer;
}
header .dateFilter input[type=radio] {
  display: none;
}
header .dateFilter input[type=radio]:nth-of-type(1):checked ~ label:nth-of-type(1) {
  border: 1px solid #ff9900;
}
header .dateFilter input[type=radio]:nth-of-type(2):checked ~ label:nth-of-type(2) {
  border: 1px solid #ff9900;
}
header .dateFilter input[type=radio]:nth-of-type(3):checked ~ label:nth-of-type(3) {
  border: 1px solid #ff9900;
}
header .dateFilter input[type=radio]:nth-of-type(4):checked ~ label:nth-of-type(4) {
  border: 1px solid #ff9900;
}

#wishlist-content .total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
}
#wishlist-content .total .soldOut-box {
  display: flex;
  align-items: center;
}
#wishlist-content .total .soldOut-box label {
  font-size: 14px;
  margin-left: 4px;
}
#wishlist-content .wishlistItems {
  margin-top: 50px;
  width: 100%;
}
#wishlist-content .wishlistItems .wishlistFilter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
#wishlist-content .wishlistItems .wishlistFilter .deleteOpt input[type=button] {
  border: 1px solid #ccc;
  padding: 4px 10px;
  border-radius: 8px;
  background: #fff;
  font-weight: 500;
  font-size: 12px;
  transition: all 0.3s;
  cursor: pointer;
}
#wishlist-content .wishlistItems .wishlistFilter .deleteOpt input[type=button]:hover {
  border: 1px solid #000;
}
#wishlist-content .wishlistItems .wishlistItem {
  margin-bottom: 30px;
}
#wishlist-content .wishlistItems .wishlistItem .item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: 220px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 40px 30px;
}
#wishlist-content .wishlistItems .wishlistItem .item-content .item-img {
  width: 140px;
  height: 140px;
}
#wishlist-content .wishlistItems .wishlistItem .item-content .item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#wishlist-content .wishlistItems .wishlistItem .item-content .item-info {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#wishlist-content .wishlistItems .wishlistItem .item-content .item-info .product-name {
  width: 100%;
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
#wishlist-content .wishlistItems .wishlistItem .item-content .item-info .product-name .icon-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 200;
  border: 1px solid #ccc;
  font-size: 18px;
  cursor: pointer;
}
#wishlist-content .wishlistItems .wishlistItem .item-content .item-info .product-option {
  margin-top: 6px;
  font-size: 10px;
}
#wishlist-content .wishlistItems .wishlistItem .item-content .item-info .product-price {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#wishlist-content .wishlistItems .wishlistItem .item-content .item-info .product-price h4 {
  color: #ff9900;
  font-size: 16px;
  margin-right: 8px;
}
#wishlist-content .wishlistItems .wishlistItem .item-content .item-delete-btn {
  display: flex;
  align-items: center;
}
#wishlist-content .wishlistItems .wishlistItem .item-content .item-delete-btn button {
  border: 1px solid #ccc;
  padding: 4px 14px;
  border-radius: 20px;
  background: #fff;
  font-family: "Noto Sans KR";
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}
#wishlist-content .wishlistItems .wishlistItem .item-content .item-delete-btn button:hover {
  border: 1px solid #ff9900;
  background: #ff9900;
  color: #fff;
}