@import "../reset.scss";

body {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: map-get($map: $family, $key: kr-font);
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  h1 {
    font-size: 24px;
    padding-bottom: 30px;
    border-bottom: 1px solid map-get($map: $color, $key: main-desc-color);
  }
  .coupon-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 160px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: map-get($map: $color, $key: main-amazon-color);
    color: map-get($map: $color, $key: main-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border: none;
    .coupon-banner-inner {
      h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      .coupon-inputBox {
        display: flex;
        gap: 20px;
        input {
          font-family: map-get($map: $family, $key: kr-font);
          &[type="text"] {
            width: 390px;
            border: none;
            border-bottom: 1px solid map-get($map: $color, $key: main-color);
            color: map-get($map: $color, $key: main-color);
            padding-bottom: 8px;
            background: none;
            &::placeholder {
              color: map-get($map: $color, $key: searchBar-bg-color);
              font-size: 16px;
            }
            &:focus {
              outline: none;
            }
          }
          &[type="button"] {
            background: map-get($map: $color, $key: main-color);
            color: map-get($map: $color, $key: main-amazon-color);
            @include border-style($color: transparent);
            border-radius: 20px;
            padding: 6px 20px;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
              @include border-style($color: map-get($color, main-color));
              color: map-get($map: $color, $key: main-color);
              background: none;
            }
          }
        }
      }
    }
  }
}

#coupon-content {
  .coupon-content-title {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid map-get($map: $color, $key: main-dark-color);
    margin-bottom: 40px;
    padding-bottom: 20px;
  }

  .coupon-sort {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    span {
      font-size: 14px;
    }
    .sortFilter {
      select {
        width: 80px;
        height: 20px;
        font-family: map-get($map: $family, $key: kr-font);
        border: none;
        padding-right: 10px;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .couponItems {
    width: 100%;
    margin-top: 50px;
    .couponItem {
      margin-bottom: 14px;
      .item-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 220px;
        @include border-style($color: map-get($color, main-border-color));
        border-radius: 10px;
        padding: 40px 30px;
        .item-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          .coupon-rate {
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 6px;
            border-bottom: 1px solid
              map-get($map: $color, $key: main-border-color);
          }
          .coupon-name {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
          }
          .coupon-desc {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            span {
              font-size: 10px;
              margin-right: 4px;
              &:last-child {
                font-size: 12px;
                font-weight: 500;
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
