@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  webkit-tap-highlight-color: transparent;
}

ul,
li,
ol {
  list-style: none;
}

body {
  font-family: "Noto Sans KR";
}

.inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
}
header .gnb-content {
  width: 100%;
  overflow: hidden;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .gnb-content .gnb {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
header .gnb-content .gnb .logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .gnb-content .gnb .logo_container .sideMenu-trigger-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
header .gnb-content .gnb .logo_container .sideMenu-trigger-btn.active {
  display: block;
}
header .gnb-content .gnb .logo_container img {
  width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .gnb-content .gnb .searchBar {
  border: 2px solid #ccc;
  border-radius: 40px;
}
header .gnb-content .gnb .searchBar form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}
header .gnb-content .gnb .searchBar form select {
  outline: none;
  border: none;
  height: 18px;
  margin-right: 4px;
  color: #aaa;
}
header .gnb-content .gnb .searchBar form select option {
  color: #000;
}
header .gnb-content .gnb .searchBar form .bar {
  width: 12px;
  transform: rotate(90deg);
}
header .gnb-content .gnb .searchBar form .inputBox {
  display: flex;
  align-items: center;
}
header .gnb-content .gnb .searchBar form .inputBox .material-symbols-outlined {
  color: #aaa;
}
header .gnb-content .gnb .searchBar form .inputBox .material-symbols-outlined.micToggle {
  cursor: pointer;
}
header .gnb-content .gnb .searchBar form .inputBox input[type=search] {
  padding-left: 4px;
  padding-right: 10px;
  width: 420px;
  border: none;
}
header .gnb-content .gnb .searchBar form .inputBox input[type=search]:focus {
  outline: none;
}
header .gnb-content .gnb .searchBar form .inputBox input[type=search]::-moz-placeholder {
  color: #aaa;
}
header .gnb-content .gnb .searchBar form .inputBox input[type=search]::placeholder {
  color: #aaa;
}
header .gnb-content .gnb .searchBar form .inputBox .fa-magnifying-glass {
  color: #ff9900;
}
header .gnb-content .gnb .hottest-items {
  display: flex;
  justify-content: space-between;
  align-self: start;
  cursor: pointer;
}
header .gnb-content .gnb .hottest-items.active {
  display: none;
}
header .gnb-content .gnb .hottest-items .ranking-container {
  width: 128px;
  height: 100%;
  position: relative;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking {
  position: relative;
  height: 100%;
  bottom: 0;
  opacity: 1;
  transition: all 0.6s;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking.active {
  opacity: 0;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking p {
  font-weight: 500;
  width: 128px;
  padding: 16px 0;
  position: relative;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s;
}
<<<<<<< HEAD:detail/header/header.css
header .gnb-content .gnb .hottest-items .ranking-container .ranking p span {
=======
header .gnb-content .gnb .hottest-items .ranking-container .ranking p:hover {
>>>>>>> 4796e0146584944f8b84b5fb09e38187aed16389:header/header.css
  color: #ff9900;
}
header .gnb-content .gnb .hottest-items .ranking-container .ranking p span {
  color: #ff9900;
}
header .gnb-content .gnb .hottest-items .ranking-menu {
  display: none;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  height: 580px;
  position: absolute;
  z-index: 10;
  padding: 20px;
  top: 54px;
  background: #fff;
  border: 1px solid #ccc;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-menu-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-menu-title span {
  font-size: 12px;
  color: #333;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-selection label {
  text-align: center;
  width: 50%;
  border: 1px solid;
  padding: 4px 14px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #aaa;
  cursor: pointer;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-selection label:first-of-type {
  border-right: none;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-selection input[type=radio] {
  display: none;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-selection input[type=radio]:first-of-type:checked + label:first-of-type {
  background: #fff;
  color: #000;
  font-weight: 600;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-selection input[type=radio]:last-of-type:checked + label:last-of-type {
  background: #fff;
  color: #000;
  font-weight: 600;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content {
  position: relative;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content .ranking-content-first {
  z-index: 1;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content .ranking-content-first.active {
  display: none;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content .ranking-content-second {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  display: none;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content .ranking-content-second.active {
  display: block;
  z-index: 2;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content p {
  font-weight: 500;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content p:hover {
  color: #ff9900;
}
header .gnb-content .gnb .hottest-items .ranking-menu .ranking-content p span {
  color: #ff9900;
}
header .gnb-content .gnb .hottest-items .ranking-menu.active {
  display: flex;
}
header .gnb-content .gnb .hottest-items .fa-chevron-down {
  align-self: flex-start;
  padding: 20px;
  font-size: 14px;
}
header .gnb-content .gnb .hottest-items .fa-chevron-down.active {
  transform: scaleY(-1);
}
header .gnb-content .icon-menu .items {
  align-items: center;
  display: flex;
  gap: 26px;
}
header .gnb-content .icon-menu .items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
header .gnb-content .icon-menu .items .item:hover .fa-regular,
header .gnb-content .icon-menu .items .item:hover span {
  color: #ff9900;
}
header .gnb-content .icon-menu .items .item:hover ul {
  height: 170px;
  padding: 10px 14px;
}
header .gnb-content .icon-menu .items .item .fa-regular {
  transition: all 0.3s;
  font-size: 26px;
}
header .gnb-content .icon-menu .items .item .material-symbols-outlined {
  transition: all 0.3s;
  font-size: 26px;
}
header .gnb-content .icon-menu .items .item span {
  transition: all 0.3s;
  font-size: 10px;
}
header .gnb-content .icon-menu .items .item ul {
  overflow: hidden;
  height: 0;
  position: absolute;
  top: 60px;
  background: white;
  box-shadow: 0 0 4px #000;
  border-radius: 8px;
  padding: 0;
  font-size: 14px;
  transform-origin: top;
  transition: all 0.3s;
}
header .gnb-content .icon-menu .items .item ul li {
  margin-bottom: 10px;
  transition: all 0.3s;
}
header .gnb-content .icon-menu .items .item ul li:hover {
  color: #ff9900;
}
header .gnb-content .icon-menu .items .item ul:hover {
  max-height: 170px;
  padding: 10px 14px;
}
header .banner {
  margin-top: 10px;
}
header .banner .lnb-content {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  white-space: nowrap;
  transition: all 0.3s;
}
header .banner .lnb-content.active {
  height: 0;
  overflow: hidden;
  border: none;
}
header .banner .lnb-content .lnb-main {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
header .banner .lnb-content .lnb-main .main-category-menu {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 190px;
  padding: 10px;
  background: #ff9900;
  color: #fff;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger {
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 12px;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger span {
  position: absolute;
  background: #fff;
  width: 18px;
  height: 1px;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger span:first-child {
  top: 0;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger span:nth-child(2) {
  top: 50%;
}
header .banner .lnb-content .lnb-main .main-category-menu .category-trigger span:last-child {
  top: 100%;
}
header .banner .lnb-content .lnb-main .lnb {
  display: flex;
  gap: 20px;
  padding: 10px;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy {
  position: relative;
  cursor: pointer;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy .fa-circle-question {
  font-size: 14px;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy.active::after, header .banner .lnb-content .lnb-main .lnb .online-pharmacy.active::before {
  opacity: 1;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy::before {
  content: attr(data-info);
  position: absolute;
  white-space: pre-wrap;
  bottom: -334px;
  width: 180px;
  height: auto;
  padding: 20px;
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s;
}
header .banner .lnb-content .lnb-main .lnb .online-pharmacy::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 2.5px;
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid;
  opacity: 0;
  transition: all 0.3s;
}
header .banner .lnb-content .lnb-main .lnb a {
  transition: all 0.3s;
}
header .banner .lnb-content .lnb-main .lnb a:hover {
  color: #ff9900;
}
header .banner .lnb-content .lnb-user-menu {
  display: flex;
  gap: 4px;
}
header .banner .lnb-content .lnb-user-menu li {
  padding-right: 6px;
  border-right: 1px solid #aaa;
}
header .banner .lnb-content .lnb-user-menu li a {
  color: #aaa;
}
header .banner .lnb-content .lnb-user-menu li a:hover {
  text-decoration: underline;
}
header .banner .lnb-content .lnb-user-menu li:last-child {
  border: none;
}

.Top {
  position: fixed;
  right: 50px;
  bottom: 100px;
  opacity: 0;
  transition: all 0.3s;
}
.Top .desktop-top {
  width: 56px;
  height: 56px;
  padding: 8px;
  background: #5c5a5a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  cursor: pointer;
}
.Top .desktop-top .fa-chevron-up {
  font-size: 24px;
}
.Top .mobile-top {
  display: none;
}
.Top .mobile-top .mobile-top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}
.Top .mobile-top .mobile-top-menu span {
  text-align: center;
  line-height: 38px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(238, 238, 238, 0.8);
  color: #000;
  font-size: 24px;
}
.Top.active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .inner {
    width: 100%;
  }
  header {
    padding: 10px;
    width: 100%;
  }
  header .gnb-content {
    width: 100%;
    justify-content: center;
  }
  header .gnb-content .gnb {
    width: 100%;
  }
  header .gnb-content .gnb .logo_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  header .gnb-content .gnb .logo_container .sideMenu-trigger-btn {
    display: block;
    order: 2;
  }
  header .gnb-content .gnb .searchBar {
    display: none;
  }
  header .gnb-content .gnb .hottest-items {
    display: none;
  }
  header .gnb-content .icon-menu {
    display: none;
  }
  header .banner {
    margin: 0;
  }
  header .banner .lnb-content {
    border-top: 1px solid #ccc;
    width: 100%;
    justify-content: center;
    overflow-x: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    overflow-y: hidden;
  }
  header .banner .lnb-content .lnb-main {
    width: 100%;
  }
  header .banner .lnb-content .lnb-main .main-category-menu {
    display: none;
  }
  header .banner .lnb-content .lnb-main .main-category-menu .lnb {
    width: 100%;
    justify-content: space-evenly;
  }
  header .banner .lnb-content .lnb-user-menu {
    display: none;
  }
  .Top {
    right: 25px;
  }
  .Top .desktop-top {
    display: none;
  }
  .Top .mobile-top {
    display: block;
  }
}