// 해당 파일은 헤더 스타일 시트입니다.
// This is the stylesheet of our website's Header

@import "../reset.scss";

// Common
body {
  font-family: map-get($map: $family, $key: kr-font);
  height: 10000px;
}

.inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.main-sideMenu-container {
  height: 100%;
  z-index: 10000;
  position: fixed;
  left: -100%;
  background: map-get($map: $color, $key: main-color);
  width: 216px;
  transition: all 0.6s;
  .sideMenu-header {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid map-get($map: $color, $key: main-border-color);
    .sideMenu-login {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 500;
      cursor: pointer;
    }
    .fa-x {
      cursor: pointer;
    }
  }
  .main-sideMenu {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    .sideMenu-category {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-bottom: 1px solid map-get($map: $color, $key: main-border-color);
      .category-title {
        padding: 10px;
        font-weight: bold;
      }
      .categories-large {
        li {
          width: 100%;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            background: linear-gradient(
              90deg,
              rgba(255, 216, 20, 0.7) 0%,
              #ffd814 4%,
              #ff9900 93.5%,
              rgba(255, 153, 0, 0.7) 99.5%
            );
          }
          &:hover span,
          &:hover i {
            color: map-get($map: $color, $key: main-color);
          }
          span {
            display: flex;
            gap: 4px;
            align-items: center;
            &.material-symbols-outlined {
              font-size: 12px;
            }
          }
        }
      }
    }
    .sideMenu-misc {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-bottom: 1px solid map-get($map: $color, $key: main-border-color);
      .misc-title {
        padding: 10px;
        font-weight: bold;
      }
      .misc-list {
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            background: #fafafa;
            color: map-get($map: $color, $key: main-amazon-color);
          }
        }
      }
    }
    .sideMenu-settings {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .settings-title {
        padding: 10px;
        font-weight: bold;
      }
      .settings-list {
        li {
          padding: 10px;
          font-size: 14px;
          &.darkmode {
            display: none;
          }
          a {
            display: flex;
            align-items: center;
            gap: 4px;
            .material-symbols-outlined {
              font-size: 14px;
            }
          }
          &:hover {
            background: #fafafa;
          }
          &:hover:not(.material-symbols-outlined) {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.active {
    left: 0;
  }
}

.bgFilter{
  position: relative;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.1);
  display: none;
  &.active{
    display: block;
  }
}

//Header
header {
  @include border-style($color : #000);
  position: fixed;
  top: 0;
  width: 100%;
  background: map-get($map: $color, $key: main-color);
  .gnb-content {
    width: 100%;
    overflow: hidden;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .gnb {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 30px;
      .logo_container {
        display: flex;
        align-items: center;
        gap: 10px;
        .sideMenu-trigger-btn {
          display: none;
          font-size: 24px;
          cursor: pointer;
          &.active {
            display: block;
          }
        }
        img {
          width: 130px;
          object-fit: cover;
        }
      }
      .searchBar {
        @include border-style(
          $color: map-get($color, main-border-color),
          $weight: 2px
        );
        border-radius: 40px;
        form {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 10px;
          select {
            outline: none;
            border: none;
            height: 18px;
            margin-right: 4px;
            color: map-get($map: $color, $key: placeholder-color);
            option {
              color: map-get($map: $color, $key: main-dark-color);
            }
          }
          .bar {
            width: 12px;
            transform: rotate(90deg);
          }
          .inputBox {
            display: flex;
            align-items: center;
            .material-symbols-outlined {
              color: map-get($map: $color, $key: placeholder-color);
            }
            input[type="search"] {
              padding-left: 4px;
              padding-right: 10px;
              width: 420px;
              border: none;
              &:focus {
                outline: none;
              }
              &::placeholder {
                color: map-get($map: $color, $key: placeholder-color);
              }
            }
            .fa-magnifying-glass {
              color: map-get($map: $color, $key: main-amazon-color);
            }
          }
        }
      }
      .hottest-items {
        display: flex;
        justify-content: space-between;
        align-self: start;
        cursor: pointer;
        .ranking {
          p {
            font-weight: 500;
            width: 128px;
            padding: 16px 0;
            position: relative;
            // 54px마다 순위 변경
            bottom: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            span {
              color: map-get($map: $color, $key: main-amazon-color);
            }
          }
        }
        .fa-chevron-down {
          align-self: flex-start;
          padding: 20px;
          font-size: 14px;
        }
      }
    }
    .icon-menu {
      .items {
        align-items: center;
        display: flex;
        gap: 26px;
        .item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 4px;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            color: map-get($map: $color, $key: main-amazon-color);
          }
          .fa-regular {
            font-size: 26px;
          }
          .material-symbols-outlined {
            font-size: 26px;
          }
          span {
            font-size: 10px;
          }
        }
      }
    }
  }
  .banner {
    margin-top: 10px;
    .lnb-content {
      display: flex;
      align-items: center;
      height: 40px;
      justify-content: space-between;
      transition: all 0.3s;
      &.active {
        height: 0;
        overflow: hidden;
      }
      .lnb-main {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        .main-category-menu {
          display: flex;
          gap: 12px;
          align-items: center;
          width: 190px;
          padding: 10px;
          background: map-get($map: $color, $key: main-amazon-color);
          color: map-get($map: $color, $key: main-color);
          .category-trigger {
            cursor: pointer;
            position: relative;
            width: 18px;
            height: 12px;
            span {
              position: absolute;
              background: map-get($map: $color, $key: main-color);
              width: 18px;
              height: 1px;
              &:first-child {
                top: 0;
              }
              &:nth-child(2) {
                top: 50%;
              }
              &:last-child {
                top: 100%;
              }
            }
          }
        }
        .lnb {
          display: flex;
          gap: 20px;
          padding: 10px;
          .online-pharmacy {
            cursor: pointer;
            .fa-circle-question {
              font-size: 14px;
            }
          }
          a {
            transition: all 0.3s;
            &:hover {
              color: map-get($map: $color, $key: main-amazon-color);
            }
          }
        }
      }
      .lnb-user-menu {
        display: flex;
        gap: 4px;
        li {
          padding-right: 6px;
          border-right: 1px solid map-get($map: $color, $key: placeholder-color);
          a {
            color: map-get($map: $color, $key: placeholder-color);
            &:hover {
              text-decoration: underline;
            }
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}

//Top Button
.Top {
  position: fixed;
  right: 50px;
  bottom: 100px;
  width: 56px;
  height: 56px;
  padding: 8px;
  background: #5c5a5a;
  color: map-get($map: $color, $key: main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
  .fa-chevron-up {
    font-size: 24px;
  }
  &.active {
    opacity: 1;
  }
}
